
/* ====================================== Custom CSS Code =================================================*/

/* you can add any custom css code for any class, id, tags and anything here, it will be active.. */

.logo-text {
  display: inline-block;
  margin-left: 15px;
  margin-top: 2px;
  font-size: 20px;
  color: #00AEC8; /* #585858; */
  line-height: 120%;
  font-family: 'TitilliumText22LMedium', Arial, sans-serif;
}


.logo-nu {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  color: #585858;
  position: relative;
  top: -4px;
}

.flex-caption a {
  color: #00AEC8;
}


.publication {
  font-size: 15px;
  padding-bottom: 20px;
}

.publication a {
  color: #00AEC8;
}


.affiliated {
  font-size: 14px;
  line-height: 130%;
}

.affiliated div {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}
