/*
 * Tangible Interaction Design and Learning Lab
 * tidal.northwestern.edu
 */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito'), local('Nunito-Regular'), url('../fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Nunito';
  font-style: bold;
  font-weight: 700;
  src: local('Nunito'), local('Nunito-Bold'), url('../fonts/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'Nunito';
  font-style: Light;
  font-weight: 300;
  src: local('Nunito'), local('Nunito-Light'), url('../fonts/Nunito-Light.ttf');
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?yuxxle');
	src:url('../fonts/icomoon.eot?#iefixyuxxle') format('embedded-opentype'),
		url('../fonts/icomoon.woff?yuxxle') format('woff'),
		url('../fonts/icomoon.ttf?yuxxle') format('truetype'),
		url('../fonts/icomoon.svg?yuxxle#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
