/*
 * Tangible Interaction Design and Learning Lab
 * tidal.northwestern.edu
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * BODY ELEMENTS
 */
body {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 155%;
  color: #666;
  padding: 0;
  margin: 0;
  background-color: white;
}


.content {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0px 30px 0px;
  display: block;
  min-height: 600px; 
}


#welcome {
  font-family: 'Nunito', sans-serif;
  background-color: #eee;
  padding: 20px 45px 20px 100px;
  font-weight: 300;
  font-size: 17px;
  line-height: 140%;
  color: #666;
  text-align: left;
  border-radius: 12px;
  background-image: url('/static/images/logo-grey-100x100.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 80px 80px;
}


h1 {
   font-size: 18px;
   font-weight: normal;
   margin-bottom: 20pt;
   line-height: 110%;
   /* background-color: #558cb9; */
   background-color: rgb(0, 174, 200);
   color: white;
   padding: 8px 16px;
   border-radius: 12px;
   font-family: 'Nunito', sans-serif;
}


h2 {
  font-size: 22px;
  font-weight: 400;
  padding: 0px;
  margin: 2px 0;
  color: #666;
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-size: 14pt;
  margin: 6pt 0;
  padding: 0px;
}




/*
 * HEADER AND LOGO
 */
header {
  display: block;
  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 0px;
  /* background-color: white; */
  /* background-color: #558cb9; */
  background-color: rgb(0, 174, 200);
  color: white; 
  /* position: fixed; */
  z-index: 10;
  border-bottom: 1px solid white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.head {
  width: 960px;
  height: 70px;
  margin: 0 auto;
  padding: 0px 25px 0px 95px;
  background-image: url('/static/images/logo-white-60x60.png');
  background-size: 60px 60px;
  background-position: 25px center;
  background-repeat: no-repeat;
}

.logo {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  padding: 15px 0px;
  font-weight: 400;
  line-height: 125%;
  display: inline-block;
}


/*
 * NAVIGATION BAR
 */
nav {
  float: right;
  display: block;
  height: 100%;
  padding: 20px 0;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

nav a {
  margin: 0;
  padding: 8px;
  text-decoration: none;
  /* color: #558cb9; */
  color: white;
  font-weight: normal;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}


/*
 * PROJECT LIST
 */
img.project-thumb {
  float: left; 
  width: 250px; 
  max-width: 250px; 
  margin-right: 10px; 
  margin-top: 5px;
  border: 1px solid #333; 
  margin-bottom: 20px;";
}

.project-title {
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  margin: 2px 0;
  font-family: 'Nunito', sans-serif;
}

.project-description {
  margin: 0px;
}

.project-grants {
  font-size: 12px;
  color: #999;
}

/*
 * FOOTER
 */
footer {
  background-color: #444;
  display: block;
  width: 100%;
  height: 150px;
  color: #aaa;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 135%;
  clear: both;
  text-align: left;
  min-height: 150px;
}

.foot {
  width: 940px;
  min-height: 150px;
  margin: 0 auto;
  padding: 20px 10px 50px 10px;
  background-image: url('/static/images/nu-logo.png');
  background-repeat: no-repeat;
  background-position: right center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: rgb(0, 174, 200);
}


.hover-image {
  transition: box-shadow 0.3s ease-in-out;
}

.hover-image:hover {
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}


/*
 * COLUMNS
 */
.column {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 0 25px;
}

.column.one { width: 100%; clear: both; }

.column.two { width: 50%; }

.column.three { width: 33%; }

.column.four { width: 25%; }

.column.five { width: 20%; }

.column.three-quarters { width: 75%; }

.column.two-thirds { width: 66%; }

.separator {
  border-bottom: 1px solid black;
  width: 100%;
  height: 30px;
  clear: both;
}


/*
 * FRONT PAGE NEWS POSTS (Must go after column definitions!)
 */
.news-post {
  margin-bottom: 20px;
  vertical-align: top;
}

.news-title {
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  color: #666;
}

.news-date {
  color: #999;
}

.news-more {
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}


.affiliated {
  font-size: 13px;
  color: #444;
  text-align: left;
  line-height: 140%;
  margin-bottom: 12px;
}



/*
 * LINKS
 */
.content a {
  color: rgb(0, 130, 160);
  text-decoration: none;
}


.content a:hover {
  color: #900;
}


/*
 * BUTTONS
 */
.content a.blue-button {
  background-color: rgb(0, 140, 170);
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  font-weight: bold;
}

.content a.blue-button:hover {
  background-color: #555;
}


/*
 * LIST OF TAG BUTTONS
 */
ul.tag-list {
  padding: 0;
  margin: 30px 0 0 0;
  text-align: left;
}

ul.tag-list li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tag-list a {
  padding: 8px 12px;
  margin: 4px;
  display: inline-block;
  background-color: #ddd;
  color: #444;
  transition: color 0.1s ease-in-out 0.4s;
  transition: background-color 0.4s ease-in-out;
  outline: none;
}

ul.tag-list a:hover {
  background-color: rgb(0, 140, 170);
  color: white;
}

ul.tag-list a.selected {
  background-color: rgb(0, 140, 170);
  color: white;
}



/*
 * PUBLICATIONS
 */
.publication {
  padding-bottom: 0px;
  text-indent: -0.4in;
  padding-left: 0.4in;
  text-align: left;
  color: #333;
}


/*
 * RESPONSIVE MEDIA QUERIES
 */
@media only screen and (max-device-width : 960px) {
  .content { width: 100%; }
  .head { width: 100%; }
  .foot { width: 100%; }
  .column.one { width: 100%; }
}

@media only screen and (max-device-width : 800px) {
  .logo { display : none; }
}

@media only screen and (max-device-width : 700px) {
  .column.two { width: 100%; }
  .column.three { width: 100%; }
  .column.three-quarters { width: 100%; }
  .column.two-thirds { width: 100%; }
  .column.four { width: 50%; }
  .column.five { width: 50%; }
  .wide-only { display: none; }
  #welcome { 
    background-image: none;
    padding: 20px;
  }
  nav a { padding: 5px; }
  body { text-align: left; }
  header { position: static; }
  .project-title { font-size: 16px; }
  .project-description { font-size: 14px; }
}


@media only screen and (max-device-width : 400px) {
  .column.four { width: 100%; }
  .column.five { width: 100%; }
  .foot { background-image: none; }
  #welcome { font-size: 13px; }
  nav ul li { font-size: 11px; }
  nav a { padding: 2px; }
  .publication { font-size: 14px; }
}

