/*
 * Tangible Interaction Design and Learning Lab
 * tidal.northwestern.edu
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
 * BODY ELEMENTS
 */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 11pt;
  padding: 0;
  margin: 0;
  text-align: justify;
  background-color: #efefef;
  height: 100%;
}

.content {
  width: 940px;
  margin: 0 auto;
  padding: 80px 20px 30px 20px;
  color: black;
  line-height: 123%;
  display: block;
  min-height: 600px; 
}

h1 {
   font-size: 24pt;
   margin-bottom: 20pt;
   padding: 0px;
   line-height: 110%;
}

h2 {
  font-size: 18pt;
  padding: 0px;
  margin-bottom: 6pt;
  margin-top: 3px;
}

h3 {
  font-size: 14pt;
  margin: 6pt 0;
  padding: 0px;
}

.title {
  font-size: 20pt;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 5px;
}

b {
   font-weight: 700;
}

p {
   margin-bottom: 12pt;
   margin-top: 0pt;
   line-height: 140%;
}

li {
  margin-bottom: 3pt;
  margin-left: -0.25in;
}



/*
 * HEADER AND LOGO
 */
header {
  display: block;
  width: 100%;
  height: 60px;
  margin: 0px;
  background-color: rgb(0, 174, 200);
  color: white;
  font-size: 11pt;
  position: fixed;
  z-index: 10;
}

.head {
  width: 940px;
  height: 60px;
  margin: 0 auto;
  padding: 0px 20px 0px 85px;
  background-image: url('/static/images/logo_white.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 25px 5px;
}

.logo {
  height: 100%;
  padding: 15px 0px;
  font-size: 10pt;
  font-weight: 100;
  display: inline-block;
}

.logo a {
  text-decoration: none;
  color: white;
}


/*
 * NAVIGATION BAR
 */
nav {
  float: right;
  display: block;
  text-align: right;
  height: 100%;
  padding: 20px 0 4px 0;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 11pt;
}

nav a {
  margin: 0;
  padding: 15px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


/*
 * FOOTER
 */
footer {
  background-color: #444;
  display: block;
  width: 100%;
  height: 150px;
  color: #aaa;
  font-size: 11px;
  line-height: 135%;
  clear: both;
  text-align: left;
  min-height: 150px;
}

.foot {
  width: 940px;
  min-height: 150px;
  margin: 0 auto;
  padding: 10px 20px;
  background-image: url('/static/images/nu-logo.png');
  background-repeat: no-repeat;
  background-position: right 30px top 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: rgb(0, 174, 200);
}


.hover-image {
  transition: box-shadow 0.3s ease-in-out;
}

.hover-image:hover {
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}


/*
 * COLUMNS
 */
.column {
  display: inline-block;
  width: 100%;
  padding: 10px;
  float: left;
}

.column.one { width: 100%; clear: both; }

.column.two { width: 50%; }

.column.three { width: 33%; }

.column.four { width: 25%; }

.column.five { width: 20%; }

.column.three-quarters { width: 75%; }

.column.two-thirds { width: 66%; }

.separator {
  border-bottom: 1px solid black;
  width: 100%;
  height: 30px;
  clear: both;
}



/*
 * LINKS
 */
.content a {
  color: rgb(0, 130, 160);
  text-decoration: none;
}


.content a:hover {
  color: #900;
}


/*
 * BUTTONS
 */
.content a.blue-button {
  background-color: rgb(0, 140, 170);
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  font-weight: bold;
}

.content a.blue-button:hover {
  background-color: #555;
}


/*
 * LIST OF TAG BUTTONS
 */
ul.tag-list {
  padding: 0;
  margin: 30px 0 0 0;
  text-align: left;
}

ul.tag-list li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tag-list a {
  padding: 8px 12px;
  margin: 4px;
  display: inline-block;
  background-color: #ddd;
  color: #444;
  transition: color 0.1s ease-in-out 0.4s;
  transition: background-color 0.4s ease-in-out;
  outline: none;
}

ul.tag-list a:hover {
  background-color: rgb(0, 140, 170);
  color: white;
}

ul.tag-list a.selected {
  background-color: rgb(0, 140, 170);
  color: white;
}



/*
 * PUBLICATIONS
 */
.publication {
  padding-bottom: 0px;
  text-indent: -0.4in;
  padding-left: 0.4in;
  text-align: left;
}


/*
 * RESPONSIVE MEDIA QUERIES
 */
@media only screen and (max-device-width : 940px) {
  .content { width: 100%; }
  .head { width: 100%; }
  .foot { width: 100%; }
  .column.one { width: 100%; }
}


@media only screen and (max-device-width : 700px) {
  .logo { display : none; }
  .column.two { width: 100%; }
  .column.three { width: 100%; }
  .column.three-quarters { width: 100%; }
  .column.two-thirds { width: 100%; }
  .column.four { width: 50%; }
  .column.five { width: 50%; }
  nav a { padding: 5px; }
  .wide-only { display: none; }
  body { text-align: left; }
}


@media only screen and (max-device-width : 400px) {
  .column.four { width: 100%; }
  .column.five { width: 100%; }
  .foot { background-image: none; }
  nav ul li { font-size: 9pt; }
  nav a { padding: 2px; }
}

