/*
 * Tangible Interaction Design and Learning Lab
 * tidal.northwestern.edu
 */
* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);    
}

    
/*
 * BODY ELEMENTS
 */
body {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  background-color: #444;
  color: #555;
  padding: 0;
  margin: 0;
}


.print-only { display: none; }


.main {
  width: 100%;
  background-color: #fff;
}


.content {
  max-width: 960px;
  min-width: 600px;
  margin: 0 auto;
  padding: 70px 0px 30px 0px;
  min-height: 600px;
  position: relative;
}


/*
 * LINKS
 */
.content a {
  color: rgb(0, 130, 160);
  text-decoration: none;
}
.content a:hover { color: #900; }


h1 {
  font-size: 1.5em;
  font-weight: normal;
}

h1.title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20pt;
  line-height: 110%;
  background-color: rgb(0, 174, 200);
  color: white;
  padding: 8px 16px;
  border-radius: 12px;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}


/*
 * HEADER AND LOGO
 */
header {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  /*background-color: #222;*/
  background-color: rgb(0, 174, 200);
  color: #fff;
  position: fixed;
  z-index: 10;
  box-shadow: 0px 1px 2px #ccc;
}


/*
 * NAVIGATION BAR
 */
nav {
  display: block;
  max-width: 960px;
  min-width: 600px;
  height: 56px;
  margin: 0 auto;
  position: relative;
}

#lab-name {
  background-image: url('/static/images/logo-white.svg');
  background-size: 50px 50px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 23px;
  height: 100%;
  padding: 10px 0px 10px 64px;
  display: inline-block;
  font-size: 0.9em;
  line-height: 120%;
}

nav ul {
  float: right;
  display: inline-block;
  padding: 0px;
  margin: 0px 30px 0px 0px;
  height: 100%;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 0.85em;
}

nav ul li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: white;
  outline: none;
}

nav ul a {
  padding: 8px;
  line-height: 56px;
  transition: background-color 0.3s ease-in-out;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


/* 
 * SPLASH IMAGE 
 */
 /*
#splash {
  max-width: 1500px;
  min-width: 960px;
  height: 170px;
  padding: 20px;
  background-image: url('/static/images/blog-splash.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  color: white;
  font-weight: 200;
  font-size: 16px;
  position: relative;
  top: 56px;
  margin-bottom: 56px;
}

#splash .photo-credit {
  font-family: sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 3px;
  right: 30px;
  color: #ddd;
  text-shadow: 1px 1px 1px black;
}
*/


/*
 * FOOTER
 */
footer {
  background-color: #444;
  display: block;
  height: 150px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #aaa;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 135%;
  text-align: left;
  clear: both;
}

.foot {
  max-width: 960px;
  min-width: 600px;
  height: 150px;
  margin: 0 auto;
  padding: 20px 10px 50px 30px;
  background-image: url('/static/images/nu-logo.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: rgb(0, 174, 200);
}


/*
 * COLUMNS
 */
.column {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 0;
}

.column.one { width: 100%; padding: 0 25px; }

.column.two { width: 50%; padding-right: 15px; }

.column.three { width: 33%; }

.column.four { width: 25%; }

.column.five { width: 20%; }


/*
 * LANDING PAGE
 */

#welcome {
  background-color: #eee;
  padding: 20px 45px 20px 100px;
  font-weight: 300;
  font-size: 17px;
  line-height: 140%;
  color: #666;
  text-align: left;
  border-radius: 12px;
  background-image: url('/static/images/logo-grey-100x100.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 80px 80px;
}

.affiliated {
  font-size: 0.82em;
  color: #444;
  text-align: left;
  line-height: 140%;
  margin-bottom: 12px;
}


/*
 * News
 */
.news-list {
  width: 60%; 
  padding-left: 0.4in;
}

.news-list ul {
  padding: 0;
}

.news-list li {
  margin-bottom: 1.3em;
}

.news-title {
  font-weight: bold;
}

.news-date {
  color: #666;
}


/*
 * PEOPLE
 */
.hover-image {
  transition: box-shadow 0.3s ease-in-out;
}

.hover-image:hover {
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}


/*
 * PROJECT LIST
 */
img.project-thumb {
  float: left; 
  width: 250px; 
  max-width: 250px; 
  margin-right: 10px; 
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.project-title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0px;
  margin: 2px 0;
}

.project-description {
  margin: 0px;
}

.project-grants {
  font-size: 0.8em;
  color: #999;
}


/*
 * PUBLICATIONS
 */
.publication {
  padding-bottom: 0px;
  text-indent: -0.4in;
  padding-left: 0.4in;
  text-align: left;
}

.publication-list {
  width: 90%; 
  padding-left: 0.4in;
}



/*
 * RESPONSIVE MEDIA QUERIES
 */
@media (max-width : 700px) {
  .wide-only { display: none; }
  .column.two { width: 100%; }
  .column.three { width: 100%; }
  .column.four { width: 50%; }
  .column.five { width: 50%; }
}

