{% load static %}
{% load staticfiles %}
  
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Syllabus: Tangible Interaction Design and Learning</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/courses/web.css' %}">
  <link rel="stylesheet" media="print" type="text/css" href="{% static 'css/print.css' %}">
</head>

<body>
   
<div class="page">
   
   <div class="title">Tangible Interaction Design and Learning</div>
   <div class="course">EECS-395, EECS-495, LS-451 (Spring 2015)</div>
   
   <div class="instructors">Michael S. Horn, Amartya Banerjee </div>
   <div class="affiliation">Northwestern University, Annenberg Hall 336</div>
   <div class="email">michael-horn@northwestern.edu, amartyabanerjee2012@u.northwestern.edu</div>
   <div class="website">http://tidal.northwestern.edu</div>
   
   <h1 style="margin-top: 25pt;">Description</h1>
   <p>
      Emerging interactive technologies are rapidly transforming the ways in
      which we work, play, communicate, and learn. Research on tangible
      interaction attempts to blur the line between digital technologies and the
      broader physical, social, and cultural worlds within which computer use is
      situated. This course will explore the use of tangible interaction to
      create innovative learning experiences. It will review both theoretical
      and technological foundations of the field. Topics include distributed
      cognition, embodied interaction, cultural forms, and design frameworks.
   </p>

   <p>
      Coursework will consist of weekly readings, discussions, and labs. Students will
      also work in small teams to complete a final paper and project on the topic
      of virtuosity and creativity. Teams will revise their work several times 
      over the course of the term and receive feedback from their peers. This 
      course is intended for students interested in publishing in learning 
      sciences, human-computer interaction, or related fields. 
   </p>
   
   <dl>
      <dt>Website:</dt>
      <dd>
        <a href="http://tidal.northwestern.edu/courses/tidal/">http://tidal.northwestern.edu/courses/tidal/</a>
      </dd><br>

      <dt>Meeting Times:</dt> <dd>Wednesdays 6-10pm</dd><br>
      
      <dt>Location:</dt> <dd>Annenberg Hall, G01 and G02</dd>
   </dl>
   
   <h1>Readings</h1>
   <p>
      All readings will be available on the course website or the
      <a href="http://dl.acm.org" target="_blank">ACM Digital Library</a> at
      least one week prior to class. Readings will be announced in class and are
      subject to change. Access to the digital library is unrestricted if you
      log in through Northwestern's wifi network. 
   </p>
   
   <h1>Individual Assignments</h1>
   <ul>
      <li>In-class participation: 10%</li>
      <li>Lab work: 20%</li>
      <li>Leading class discussion: 10%</li>
   </ul>
   
   <h1>Team Assignments</h1>
   <ul>
    <li><a href="#p1">Topic Ideas</a>: 0%</li>
    <li>Background Research: 10%</li>
    <li>Introduction / Motivation: 10%</li>
    <li>Prototype 1: 10%</li>
    <li>Prototype 2: 10%</li>
    <li>Final Paper and Video: 20%</li>
   </ul>
   
   <h1>Attendance and Participation</h1>
   <p>
      You are expected to complete the assigned readings and participate in discussions. 

      Attendance at all classes is required, and unexcused absences will  directly affect your class participation grades. 
   </p>
   
   <h1>Leading Class Discussion</h1>
   <p>
      Every student will be responsible for leading class discussion once during the term around the week's readings. 

      For your presentation you should  provide a brief biographical sketch of the main authors, 
      present an overview of the papers, and pose questions or provocative statements to stimulate discussion.

      You will also share an example tangible interface taken from the <a href="http://dl.acm.org" target="_blank">ACM Digital Library</a>.
   </p>

   <h1>Lab Work
   <p>
      Every week you will participate in two-hour lab sessions during class time. 

      The goal of the labs is to build your expertise with various tangible prototyping technologies including 3D printing, embedded computing, computer vision, depth cameras, and wireless technology.

      Some extra work outside of class time might be required to complete the labs. 
   </p>
   <h1>Final Project</h1>
   <p>
      Over the course of the term you will work on a final paper and demo video on the topic of virtuosity and creativity. 

      Students will work in interdisciplinary teams of three to four members. 

      Final papers should be 6 pages long and formatted in the ACM HCI <a href="http://www.sigchi.org/publications/chipubform" target="_blank">extended abstracts format</a>.

      The final projects must be working tangible interface prototypes consisting of some blend of hardware and software. 

      These projects need not be fully featured, but the core functionality should be there. 

      No textbooks are required for this course, but students will be required to purchase some basic prototyping equipment that will be contributed to their group.
   </p>
   
   
   <h2>April 1: What is Tangible Interaction?</h2>
   <ul class="references">
      <li>Bret Victor (2011). 
      <a href="http://worrydream.com/ABriefRantOnTheFutureOfInteractionDesign/" target="_blank">A brief rant on the future of interaction design</a>.
      </li>
      <li>Frank Wilson (1998). <a href="http://books.google.com/books?id=In0zpPwLMNsC" target="_blank">The Hand: How its use shapes the brain, language, and human culture</a>. (prologue)</li>
   </ul>

   <h2>April 8: Overview of Tangible Interaction</h2>
   <ul class="references">
      <li>Wilson, F. (1998). <a href="http://books.google.com/books?id=In0zpPwLMNsC" target="_blank">The Hand: How its use shapes the brain, language, and human culture</a>. (selections)</li>

      <li>Shaer, O. &amp; Hornecker, E. (2010). Tangible user interfaces: Past, present, and future directions. <i>Foundations and Trends in Human-Computer Interaction, 3</i>(1-2). (chapters 1-4)<br>
      <a href="http://strathprints.strath.ac.uk/32851/1/TUISurveyFnTHCI2010.pdf" target="_blank">strathprints.strath.ac.uk/32851/1/TUISurveyFnTHCI2010.pdf</a></li>
   </ul>

   <div style="margin: 20px 0 20px 0;"><b>Assignment Due:</b> Teams and Topics</div>
   
   <h2>April 15: Tangibles and Learning</h2>
   <ul class="references">
      <li>Eisenberg, M. (2003). Mindstuff Educational Technology Beyond the Computer. <i>Convergence: The International Journal of Research into New Media Technologies 9</i>(2), 29-53.<br>
      <a href="http://pubs.media.mit.edu/pubs/papers/Mindstuff.pdf" target="_blank">pubs.media.mit.edu/pubs/papers/Mindstuff.pdf</a></li>
      
      <!--
      <li>O'Malley, C. and Stanton Fraser, D. (2004). Literature Review in Learning with Tangible Technologies. A Report for NESTA Futurelab.
      <a href="http://preview.futurelab.org.uk/resources/documents/lit_reviews/tangible_review.pdf">preview.futurelab.org.uk/resources/documents/lit_reviews/tangible_review.pdf</a></li>
      -->
      <li>Marshall, P. (2007). Do tangible interfaces enhance learning? In <i>Proc. Tangible and Embedded Interaction (TEI'07)</i>, ACM Press.
      <a href="http://dl.acm.org/citation.cfm?id=1227004" target="_blank">dl.acm.org/citation.cfm?id=1227004</a></li>
   </ul>

   <div style="margin: 20px 0;"><b>Assignment Due:</b> Background Research</div>


   
   <h2>April 22: Manipulatives</h2>
   <ul class="references">
      <li>Resnick, M., Martin, F., Berg, R., Borovoy, R., Colella, V., Kramer, K., &amp; Silverman, B. (1998). Digital manipulatives: New toys to think with. In <i>Proc. ACM Conference on Human Factors in Computing Systems (CHI'98)</i>, 281-287.
      <a href="http://llk.media.mit.edu/papers/dig-manip/" target="_blank">llk.media.mit.edu/papers/dig-manip/</a></li>
      
      <li>Zuckerman, O., Arida, S. and Resnick, M. Extending tangible interfaces for education: digital montessori-inspired manipulatives. In <i>Proc. ACM Conference on Human Factors in Computing Systems (CHI'05)</i>, ACM Press(2005), 859-868.
      <a href="http://dl.acm.org/citation.cfm?id=1055093" target="_blank">dl.acm.org/citation.cfm?id=1055093</a></li>

      <li>Clements, D.H. (2000). <a href="http://gse.buffalo.edu/org/buildingblocks/Newsletters/Concrete_Yelland.htm">'Concrete' manipulatives, concrete ideas</a>. <i>Contemporary Issues in Early Childhood, 1</i>, 45-60.</li>
   </ul>
<!--      
      <li>Uttal, D.H., Scudder, K.V. and DeLoache, J.S. (1997). Manipulatives as symbols: a new perspective on the use of concrete objects to teach mathematics. <i>Journal of Applied Developmental Psychology, 18</i>, 37-54.</li>

      <li>Martin, T. &amp; Schwartz, D.L. (2005). Physically distributed learning: Adapting and reinterpreting physical environments in the development of fraction concepts. <i>Cognitive Science 29</i>, 587-625.</li>
-->
   <div style="margin: 20px 0;"><b>Assignment Due:</b> Introduction / Motivation</div>
   
   <h2>April 29: Distributed Cognition</h2>
   <ul class="references">
      <li>Hutchins, E. (1995). How a cockpit remembers its speeds. <i>Cognitive Science, 19</i>, 265-288.
      
      <li>Hollan, J., Hutchins, E., and Kirsh, D. (2000). Distributed cognition: toward a new foundation for human-computer interaction research. <i>ACM Transactions on Computer-Human Interaction (TOCHI) 7</i>(2), 174-196.
      <a href="http://dl.acm.org/citation.cfm?id=353487" target="_blank">dl.acm.org/citation.cfm?id=353487</a></li>
   <!--   
      <li>Cole, M., & Engestr&ouml;m, Y. (1993). A cultural-historical approach to distributed cognition. In G. Salomon (ed.), <i>Distributed cognitions: Psychological and educational consideratibons</i>, 1-46.</li>
    -->
   </ul>
   
   
   <h2>May 6: Embodiment</h2>
   <ul class="references">
    <!--
      <li>Marshall, P., Price, S. and Rogers, Y., Conceptualising tangibles to support learning. In Proc. <i>Interaction Design and Children (IDC'03)</i>, ACM Press(2003), 101-109.
      <a href="http://dl.acm.org/citation.cfm?id=953536.953551">dl.acm.org/citation.cfm?id=953536.953551</a></li>
    -->
    
      <li>Dourish, P. (2001). <i>Where the action is: the foundations of embodied interaction.</i> (chapter 4). MIT Press.
      
      <li>Klemmer, S.R., Hartmann, B. and Takayama, L. (2006). How bodies matter: five themes for interaction design. In <i>Proc. of DIS '06</i>, 140-149.
      <a href="http://dl.acm.org/citation.cfm?id=1142429" target="_blank">dl.acm.org/citation.cfm?id=1142429</a></li>
   </ul>
   
   <div style="margin: 20px 0"><b>Assignment Due:</b> Prototype 1</div>
   
   <h2>May 13: Embodied Cognition</h2>
   <!-- Embodied Metaphor -->
   <ul class="references">
    <!--
      <li>Hurtienne, J. and Israel, J.H. (2007). Image schemas and their metaphorical extensions &#151; Intuitive patterns for tangible interaction. In <i> Proc. Tangible, Embedded, and Embodied Interaction (TEI'07)</i>, 127-134.
      <a href="http://dl.acm.org/citation.cfm?id=1226996">dl.acm.org/citation.cfm?id=1226996</a></li>
    -->      
      <li>Bakker, S., Antle, A.N., van den Hoven, E. (2012). Embodied metaphors in tangible interaction design. <i>Personal and Ubiquitous Computing, 16</i>, 433-449.
      <a href="http://dl.acm.org/citation.cfm?id=2205717" target="_blank">dl.acm.org/citation.cfm?id=2205717</a></li>
      
      <li>Macaranas, A., Antle, A.N., and Riecke, B. (2012). Bridging the gap: Attribute and spatial metaphors for tangible interface design. In <i>Proc. Tangible, Embedded, and Embodied Interaction (TEI'12)</i>, 161-168.
      <a href="http://dl.acm.org/citation.cfm?id=2148166" target="_blank">dl.acm.org/citation.cfm?id=2148166</a></li>
   </ul>

   
   <h2>May 20: Cultural Factors</h2>
   <ul class="references">
      <li>Rogoff, B. (2003). <i>The Cultural Natural of Human Development</i> (chapter 2). Oxford University Press.</li>

      <li>Horn, M.S. (2013). The role of cultural forms in tangible interaction design. In <i>Proc. Tangible, Embedded, and Embodied Interaction (TEI'13)</i>, ACM Press.
      <a href="http://tidal.northwestern.edu/media/files/pubs/horn-tei-2013.pdf" target="_blank">tidal.northwestern.edu/media/files/pubs/horn-tei-2013.pdf</a></li>
      <!--
      <li style="text-decoration: line-through;">Dourish, P. (2001). <i>Where the action is: The foundations of embodied interaction.</i> (chapter 3). MIT Press.</li>
      -->
   </ul>
   
   <div style="margin: 20px 0;"><b>Assignment Due:</b> Prototype 2</div>
   
   <h2>May 27: Social Interaction and Collaboration</h2>
   <ul class="references">
    <!--
      <li style="text-decoration: line-through;">Saxe, G.B. (1999). Cognition, development, and cultural practices. In E. Turiel (ed.), <i>Culture and Development. New Directions in Child Psychology</i>, Jossey-Bass.</li>
    -->
      <li>Mackay, W.E. (2000). Is paper safer? The role of paper flight strips in air traffic control. <i>ACM Transactions on Computer-Human Interaction (TOCHI), 6</i>(4), 311-340.
      <a href="http://dl.acm.org/citation.cfm?id=331491" target="_blank">dl.acm.org/citation.cfm?id=331491</a></li>

      <li>Dillenbourg, P., Zufferey, G., Alavi, H., Jermann, P., Do-Lenh, S., Bonnard, Q., Cuendet, S., and Kaplan, F. (2011). Classroom orchestration: The third circle of usability. In <i>Proc. CSCL'11</i>, 510-517.</li>
<!--      
      <li>Nasir, N.I.S. (2005). Individual cognitive structuring and the sociocultural context: Strategy shifts in the game of dominoes. <i>The Journal of the Learning Sciences, 14</i>(1), 5-34.</li>
-->      
   </ul>
   
   
   <h2>June 3: Final Presentations</h2>
   <div style="margin: 20px 0;"><b>Assignment Due:</b> Final Video and Paper</div>

</div>




<!-- ASSIGNMENT P1 -->
<div class="page" id="p1">
   
   <div class="title">Assignment 1: Teams and Topics</div>
   <div class="course">Tangible Interaction Design and Learning (Spring 2015)</div>
   
   <h1 style="margin-top: 25pt;">Overview</h1>

   <p>
      The Northwestern quarter system doesn't give us much spare time, so we're
      going to dive right in to the first team assignment. Your first job will
      be to find three teammates to work with this quarter. Your team should 
      include at least one person with experience programming / hacking / making 
      and at least one person with experience in the social sciences (learning 
      sciences, communication, sociology, psychology, and so on). Please let me 
      know if you have any trouble finding people to work with.
   </p>
   <p>
      Your next job will be to come up with a list of three or four project ideas
      at the intersection of <i>learning</i> and <i>tangible interaction</i>. I
      define both of these terms very broadly, and we'll have a chance to discuss
      these in class in more depth.
   </p>
   
   <dl>
      <dt>Assigned:</dt> <dd>April 1</dd><br>
      <dt>Due:</dt> <dd>April 8</dd><br>
      <dt>Worth:</dt> <dd>0% of your grade</dd>
   </dl>
   
   <h1>What to Hand In</h1>
   <p>
      Submit a short document to Canvas. The
      document should contain a list of team members with a short description
      of each person's relevant expertise including academic major. Include
      relevant skills like graphical design, visual arts, product design,
      engineering, etc. Next, describe each of your design ideas with one or two
      paragraphs each.
   </p>
   
</div>


<!-- LAB 1: 3D PRINTING -->
<div class="page" id="p1">
   
   <div class="title">Lab 1: 3D Printing</div>
   <div class="course">Tangible Interaction Design and Learning (Spring 2015)</div>
   
   <h1 style="margin-top: 25pt;">Overview</h1>

    <p>
      In this lab you will create a 3D printed object. The goal is for all teams
      to have some expertise in creating printed objects as a valuable tool for 
      your final projects. 
    </p>

    <img src="http://ecx.images-amazon.com/images/I/41urddL8PrL._SX342_.jpg" />
   <dl>
      <dt>Assigned:</dt> <dd>April 1</dd><br>
      <dt>Due:</dt> <dd>April 8</dd><br>
   </dl>
   

   <p>
      To complete the lab do the following:
    </p>
    <ol>
      <li>Create a tinkercad account (<a href="http://tinkercad.com">tinkercad</a>).</li>
      <li>Browse the <a href="https://www.tinkercad.com/things/">gallery</a> to get inspired and find starting points for your project.</li>
      <li>Create your own model using the cad software. 
      <ul>
      <li><b>Important:</b> keep your models small (small trinket sized). The whole class is sharing one printer, so it's not feasible to create large or multi-part objects for this lab. </li>
      <li>You can start with an existing model, but make sure you make significant modifications. The point is for you to develop expertise with this tool.</li>
      </ul>
    </ol>

   <h1>What to Hand In</h1>
   <p>
      Download your model as an <code>STL</code> file and submit it to Canvas. We'll try to print some of your objects before next week.
   </p>
</div>

</body>
</html>
