*.log
*.pot
*.pyc
local_settings.py
*.DS_Store
tidalweb/public/media
tidalweb/media
tidalweb/migrations
apache
tidalweb/static/bat2
tidalweb/static/zinnia
tidalweb/static/admin
login.sh
sqlbackup.sh
uploadstatic.sh
backup*.sql
tidal.pem
