*.log
*.pot
*.pyc
local_settings.py
*.DS_Store
tidalenv
tidalweb/media
tidalweb/migrations
apache
tidalweb/static/admin
aws
todo.txt
env
env*
dist
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
*.sock
