{% extends 'base.html' %}
{% block primary %}
{% load staticfiles %}


<div class="column one">
  <h1 class="title">Roberto &mdash; A Computational Literacy Stickerbook</h1>
  
  <p>
    Roberto is a children's storybook designed to introduce young kids and their parents
    to foundational computational literacy skills. The book includes embedded sticker
    activities that kids can use to to bring the story's characters to life on
    the screen of a smartphone or tablet computer. The stickers form simple computer
    programs with loops, logic, and even interactivity. The companion app uses the
    <a href="http://users.eecs.northwestern.edu/~mhorn/topcodes/">TopCode</a> computer
    vision library to convert paper stickers into digital code.
  </p>
  
  <img src="{% static 'images/projects/roberto1.png' %}" style="width: 100%; margin-bottom: 20px; border: 1px solid black;" alt="Roberto Page">
    

  <img src="{% static 'images/projects/roberto2.png' %}" style="width: 280px; float: right; margin-top: 10px;" alt="Roberto App">
  <h2>People</h2>
  <p>
    <b>Concept and Story:</b> Michael Horn, Jaime Koh, and Sarah AlSulaiman
  </p>
  <p>
    <b>Software:</b> Michael Horn
  </p>
  <p>
    <b>Illustrations:</b> <a href="http://brainlessstudio.blogspot.com">Igor Ivanovic</a>
  </p>
  <br>
  
  <h2>Papers</h2>
  
  <p class="publication">
    Horn, M.S., AlSulaiman, S., Koh, J. (2013).
    <a href="/media/files/pubs/stickerbook-idc-2013.pdf">
    Translating Roberto to Omar:
    Computational literacy, stickerbooks, and cultural forms</a>. Proceedings
    Interaction Design and Children (IDC'13), ACM Press, 120-127.
  </p>
  
  <p class="publication">
    Horn, M.S. (2013). Interaction Design, books, and cultural forms. Workshop
    paper presented at Interaction Design and Children (IDC'13), New York, NY. 
  </p>
  

  <h2>Video</h2>
  <iframe src="//player.vimeo.com/video/32874650" width="500" height="275" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


  <p style="font-size: 9pt; margin-top: 170px; text-align: center;">
    <img src="{% static 'images/projects/roberto4.png' %}" style="width: 15%;" alt="Roberto">
    <br>
    <br>
    Copyright &copy; Michael Horn. All rights reserved.<br>
  </p>
</div>      
<br clear="all">
<br>
  
{% endblock %}