{% extends 'base-mini.html' %}
{% load cropping %}
{% block primary %}

  {% load static %}
  {% load staticfiles %}

  <div class="column one">
    <h1>Our Team</h1>
    
    {% for person in peeps %}             

    <div class="column four" style="text-align: left;">
      <a href="{{person.get_absolute_url}}">
      <img src="{% cropped_thumbnail person "cropping" scale=1.0 %}" style="width: 100%" alt="{{person.name}}"> 
      {{person.name}}</a><br>
      {{person.status}}
    </div>
    
    {% endfor %} 

  </div>


  {% endblock %}
