{% extends 'base-mini.html' %}
{% block primary %}

{% load static %}
{% load staticfiles %}


<div class="column one">
  <h1 class="title">{{person.name}}</h1>
</div>


<div class="column two-thirds">
  
  <!-- PHOTO -->
  <img src="{{person.photo.url}}" alt="{{person.name}}" style="width: 50%; float: left; margin: 0 30px 10px 0;">
    
  <!-- BIO -->
  <p style="padding-right: 8px; text-align: left;">{{person.biography|safe }}</p>
  
  <!-- PUBLICATIONS -->
  {% if person.publications.all %}
  <h2>Publications</h2>
  {% for pubs in person.publications.all %}
  <p class="publication">
    {{pubs.authors}} ({{pubs.year}}). 
    {% if pubs.weblink != '' and pubs.localCopy == ''%}
    <a href = "{{pubs.weblink}}">{{pubs.title}}.</a>
    {% endif %}
    {% if pubs.weblink == '' and pubs.localCopy != ''%}
    <a href = "{{pubs.localCopy.url}}">{{pubs.title}}.</a>
    {% endif %}
    {% if pubs.weblink != '' and pubs.localCopy != ''%}
    <a href = "{{pubs.localCopy.url}}">{{pubs.title}}.</a>
    {% endif %}
    {% if pubs.weblink == '' and pubs.localCopy == ''%}
    {{pubs.title}}.
    {% endif %}
    {% if pubs.pages != '' %}
    <i>{{pubs.journal}}</i>, {{pubs.pages}}.
    {% else %}
    <i>{{pubs.journal}}</i>.
    {% endif %}
  </p>
  {% endfor %}
  {% endif %}
</div>

  
<div class="column three" style="padding-left: 40px;">
  
  <!-- CONTACT ME -->
  <h3>Contact Me!</h3>
  <p style="text-align: left; margin-bottom: 30px;">{{person.emailuser}} at {{person.emaildomain}}</p>
  
     
  <!-- CV / RESUME --> 
  {% if person.cv != "" %}
  <h3>CV/Resume</h3>
  <a href="{{person.cv.url}}" class="blue-button">PDF</a>
  <br><br>
  {% endif %}

  
  <!-- PERSONAL WEBSITE -->
  {% if person.website != "" %}
  <h3>Personal Website</h3>
  <a href="{{person.website}}" class="blue-button">Click Here</a>
  <br><br>
  {% endif %}
  
  <!-- PROJECTS -->
  {% if person.projects.all %}
  <h3>Projects</h3>
  <ul>
  {% for project in person.projects.all %}
    <li><a href="{{project.get_absolute_url}}">{{project.name}}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  
</div>

        
{% endblock %}
  