{% extends 'base.html' %}
{% block primary %}

{% load static %}
{% load staticfiles %}
{% load cropping %}


<div class="column one" style="padding-top: 40px;">

  <h1 style="margin: 0;">{{person.name}}</h1>

  <h3>{{person.status}}</h3>

  <img src="{{person.photo.url}}" alt="{{person.name}}" style="width: 40%; float: right; margin: 5px;">
  
  <p>{{person.biography|safe }}</p>


  <h3>Contact</h3>
  <table>
  <tr>
    <td style="padding-right: 10px;"><b>Email:</b></td>
    <td>{{person.emailuser}}&nbsp;at&nbsp;{{person.emaildomain}}</td>
  </tr>
  {% if person.website != "" %}
  <tr>
    <td><b>Web:</b></td>
    <td><a href="{{person.website}}">{{person.website}}</a></td>
  </tr>
  {% endif %}
  {% if person.cv != "" %}
  <tr>
    <td><b>CV:</b></td>
    <td><a href="{{person.cv.url}}">PDF</a></td>
  </tr>
  {% endif %}
  </table>
  <br>


  <!-- PROJECTS -->
  {% if person.projects.all %}
  <h3>Projects</h3>
  <ul>
  {% for project in person.projects.all %}
    {% if project.website != '' %}
    <li><a href="{{project.website}}">{{project.name}}</a></li>
    {% else %} 
    <li><a href="{{project.get_absolute_url}}">{{project.name}}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endif %}
  

  
  <!-- PUBLICATIONS -->
  {% if person.publications.all %}
  <h2>Publications</h2>
  {% for pubs in person.publications.all %}
  <p class="publication">
    {{pubs.authors}} ({{pubs.year}}). 
    {% if pubs.weblink != '' and pubs.localCopy == ''%}
    <a href = "{{pubs.weblink}}">{{pubs.title}}.</a>
    {% endif %}
    {% if pubs.weblink == '' and pubs.localCopy != ''%}
    <a href = "{{pubs.localCopy.url}}">{{pubs.title}}.</a>
    {% endif %}
    {% if pubs.weblink != '' and pubs.localCopy != ''%}
    <a href = "{{pubs.localCopy.url}}">{{pubs.title}}.</a>
    {% endif %}
    {% if pubs.weblink == '' and pubs.localCopy == ''%}
    {{pubs.title}}.
    {% endif %}
    {% if pubs.pages != '' %}
    <i>{{pubs.journal}}</i>, {{pubs.pages}}.
    {% else %}
    <i>{{pubs.journal}}</i>.
    {% endif %}
  </p>
  {% endfor %}
  {% endif %}
</div>

  
<div class="column three">
  
  
</div>
<br clear="all">
        
{% endblock %}
  