{% extends 'base-blog.html' %}
{% block primary %}

  {% load static %}
  {% load staticfiles %}

<link rel="stylesheet" href="{% static 'bat2/css/bat.css' %}">
<script>
  localStorage.setItem("STATIC_ROOT", "/static/bat2/");
</script>

<div class="column one">

  <p>
    by <a href="http://tidal.northwestern.edu/people/mikehorn" target="_blank">Michael Horn</a> (May 25, 2015)
  </p>
  <p>
    Over the past few years I've been working with <a href="http://florianblock.net/" target="_blank">Florian Block</a>, 
    <a href="http://www.seas.harvard.edu/directory/cshen" target="_blank">Chia Shen</a>, and the 
    <a href="http://lifeonearth.seas.harvard.edu" target="_blank">Life on Earth team</a> 
    to create an evolution puzzle game that could be used in museums and other informal learning spaces. 

    This has been a challenging project from the beginning. It's hard to motivate people to voluntarily engage in difficult 
    science thinking when they could be doing something else. 

    It took a long time, but I'm happy with the way the game turned out. 

    The game, called Build-a-Tree (or BAT), debuted as part of the 
    <a href="https://vimeo.com/51581735" target="_blank">Tree of Life exhibit</a> at the California Academy of Sciences in 2013. 

    A web-based version of BAT was also just released as part of a 
    <a href="http://www.pbs.org/wgbh/nova/labs/lab/evolution/" target="_blank">PBS NOVA Lab</a> on evolution. 

    Eventually we'd like to make BAT available as a web-based tool that anyone could use to illustrate evolution concepts. 

    The idea is that you could embed custom BAT levels into your blogs, web pages, or even apps. 
    So, for example, you can play a version of BAT right here as part of this blog post. 
    Just drag the species circles in the green window together to start building a tree... 
  </p>

  <!-- game canvas -->
  <div class="bat-game-container">

    <div id="bat-level-title">Level 1:</div>
    <canvas id="game" width="850" height="500"></canvas>

    <!-- game buttons -->
    <div class="bat-button-bar">
      <!-- <button id="bat-home-button" class="bat-round-button"><span class="icon-home2"></span></button> -->
      <button id="bat-mute-button" class="bat-round-button"><span id="audio-button-icon" class="icon-volume-medium"></span></button>
      <button id="bat-levels-button" class="bat-round-button"><span class="icon-list"></span></button>
      <button id="bat-restart-button" class="bat-round-button"><span class="icon-spinner2"></span></button>
      <button id="bat-info-button" class="bat-round-button" style="font-size: 40px;">i</button>
      <!-- <button id="bat-help-button" class="bat-round-button" style="font-size: 40px;">?</button> -->
    </div>

    <!-- dialog boxes -->
    <div id="bat-overlay">


      <!-- BAT LEVELS -->
      <div id="bat-levels" class="bat-dialog">
        <button class="bat-close-button bat-round-button"><span class="icon-close"></span></button>
        <h2>Game Levels</h2>
        <!-- <ul style="column-count: 2; -webkit-column-count: 2; -moz-column-count: 2;"> -->
        <ol>
        <li><a href="#level1">Plants and Animals</a></li>
        <li><a href="#level2">Bats, Birds, &amp; People</a></li>
        <li><a href="#level3">Arthropods</a></li>
        <li><a href="#level4">Amniotes</a></li>
        <li><a href="#level5">The funny thing about frogs...</a></li>
        <li><a href="#level6">Vertebrates and Invertebrates</a></li>
        <li><a href="#level7">Getting harder...</a></li>
        </ol>
      </div>
  

      <!-- HELP DIALOG -->
      <div id="bat-help" class="bat-dialog">
        <button id="bat-help-close" class="bat-close-button bat-round-button"><span class="icon-close"></span></button>
        <h2>Trait Inspector</h2>
        <table style="margin-top: 10px; border-collapse: separate; border-spacing: 10px;">
          <tr>
            <td id="bat-help-image"><span id="bat-help-license"></span></td>
            <td class="bat-help-trait-box">
              Click on a <a id="bat-help-name"></a> trait to learn more...</b>
              <ul id="bat-help-traits"></ul>
            </td>
          </tr>
        </table>
        <b id="bat-help-cname"></b> &mdash; <span id="bat-help-location"></span>
        <p id="bat-help-text"></p>
        </p>         
      </div>


      <!-- LEVEL CLEARED DIALOG -->
      <div id="bat-cleared" class="bat-dialog">
        <button class="bat-close-button bat-round-button"><span class="icon-close"></span></button>
        <h2>Level Cleared!</h2>
        <img src="{% static 'bat2/images/success.png' %}" style="margin: 20px 0;">
        <br>
        <div class="bat-button-row">
          <button id="bat-cleared-restart-button" class="bat-round-button"><span class="icon-spinner2"></span></button>
          <button id="bat-cleared-next-button" class="bat-round-button" style="padding-left: 4px;"><span class="icon-play"></span></button>
        </div>
      </div>


      <!-- BAT CREDITS -->
      <div id="bat-credits" class="bat-dialog">
        <button class="bat-close-button bat-round-button"><span class="icon-close"></span></button>
        <h2>Credits</h2>
        <p>
        Build-a-Tree was created by the 
        <a href="http://lifeonearth.seas.harvard.edu" target="_blank">Life on Earth</a> project and 
        <a href="http://tidal.northwestern.edu" target="_blank">TIDAL Lab</a>. Original concept by Michael Horn.
        Programming and game design by Florian Block and Michael Horn.
        </p>
        <table>
          <tr> <td style="padding-right: 80px;">Chia Shen (PI)</td> <td>Harvard University</td> </tr>
          <tr> <td>Judy Diamond (co-PI)</td> <td>University of Nebraska State Museum</td> </tr>
          <tr> <td>E. Margaret Evans (co-PI)</td> <td>University of Michigan</td> </tr>
          <tr> <td>Michael S. Horn (co-PI)</td> <td>Northwestern University</td> </tr>
          <tr> <td>Florian Block</td> <td>Harvard University</td> </tr>
          <tr> <td>Brenda C. Phillips</td> <td>Boston University</td> </tr>
          <tr> <td style="vertical-align: top;">Science Advisors</td>
            <td>James Hanken, Gonzola Giribet, Jonathan Losos, Andrew Berry, <br>
                Hopi-Hoekstra, David Mindell, Sebastian Velez, and Mark Westneat.
            </td>
          </tr>
        </table>
        <table style="margin: 20px 0 0 150px;">
          <tr>
            <td style="vertical-align: top; padding-right: 10px; padding-left: 18px;"><span class="icon-twitter" style="font-size: 24pt;"></span></td>
            <td style="vertical-align: top;">
              Follow us on Twitter<br>
              <a href="https://twitter.com/DeepTreeExhibit" target="_blank">@DeepTreeExhibit</a>
            </td>
            <td style="vertical-align: top; padding-right: 10px; padding-left: 18px;"><span class="icon-facebook" style="font-size: 24pt;"></span></td>
            <td style="vertical-align: top;">
              Join us on Facebook<br>
              <a href="http://facebook.com/DeepTreeExhibit" target="_blank">facebook.com/DeepTreeExhibit</a>
            </td>
          </tr>
        </table>
        <br>
        <br>
          This app is based upon work supported by the National Science
          Foundation under grant DRL-1010889. Any opinions, findings, and conclusions or
          recommendations expressed in this material are those of the author(s) and do
          not necessarily reflect the views of the National Science Foundation (NSF).
      </div>        
    </div>
  </div>

  <p>
  In this post I'm going to talk about how our design changed over time as we struggled to find
  the right balance of fun, playability, and value as a learning experience. 
  </p>

  <h2>Learning Goals</h2>

  <p>
  As we were putting BAT together, we had a few big-picture
  learning goals in mind. The first is that <b>all life on earth is related</b>. In other words, if you could travel far
  enough back in time, you could find a common, genetic ancestor for any two organisms on the planet, no matter how different they
  might seem. 

  So, just like you and your cousin share an ancestor in common (a grandparent), 
  you and the banana you ate for breakfast also share a distant, distant ancestor. 

  The difference is that unlike your grandparent, this ancestor was a primoridal Eukaryotic organisms that carried 
  genetic information that is shared by all plants and animals hundreds of millions of years later.
  </p>
  <p>
  The second big idea that we wanted to get across with the game is that there are <b>key evolutionary landmarks</b> that define 
  major groups of life. These landmarks are shared genetic traits that emerged from evolutionary processes (like natural selection,
  genetic drift, and mutation), and allowed organisms to take advantage of new ecological niches. 

  One of my favorite examples is the <i>amniotic egg sac</i> that helped the common ancestor of modern-day birds, mammals, 
  and reptiles to lay eggs away from water and colonize newly accessible inland habitats. 

  Amphibians don't have this trait, which means that they have to return to the water in order to lay eggs and reproduce. 
  </p>
  <p>
  <img src="{% static 'images/blog/bat-figure1.png' %}" style="width: 45%; float: right; margin: 0 50px;" alt="a phylgenetic tree showing the relationships of spiders, butterflies, birds, dinosaurs, bats, and giraffes.">
  The last big idea relates to something called <b>tree-thinking skills</b>. 

  One of the most important representations of modern biology are called a cladograms or a phylogenetic trees. 

  These diagrams depict hypothesized relationships and traits of organisms,genes, or even proteins. 

  Baum, Smith, and Donovan published an influential 
  <a href="http://www.sciencemag.org/content/310/5750/979.summary" target="_blank">paper</a> in the journal, <i>Science</i>, 
  arguing that everyone should learn tree-thinking skills as a matter of basic science education. 

  These skills include to being able to read and understand trees without misinterpreting their meaning. 

  Common mistakes include assuming that the left-to-right ordering of a tree is important or that the organisms on the 
  far right side are the most "evolved". 

  For example, a misunderstanding of the tree shown here is that giraffes are the most complex or evolved species 
  (which is not true), and that butterflies and birds are more closely related than birds and giraffes (also not true).
  </p>
  <p>
  We had lots of other less important learning goals. For example, it might be nice if visitors learn that lizards and humans 
  are more closely related than than lizards and frogs. But goals like these are more factual than conceptual and aren't as 
  important for us.
  </p>

  <h2>Design Principles</h2>
  <p>
  We had a few principles that guided our design, mostly taken from research on learning, games, and museums. For us, one of the most influential ideas is a notion called <i>intrinsic integration</i> that was originally proposed by Yasmin Kafai and then 
  elaborated on by Habgood &amp; Ainsorth in an influential <a href="http://dl.acm.org/citation.cfm?id=2215096">paper</a> in the
  Journal of the Learning Sciences. 

  Intrinsic integration is meant to contrast the <i>extrinsic motivation</i> of the edutainment movement in which game-like elements
  and incentives are set up to motivate people to do something that they would otherwise be less interested in. In other words, in the 
  case of gamified learning environments, you're not trying to make learning fun as much as you're tying to make it more 
  palatable. 

  So how is intrinsic integration any different? With intrinsic integration, you're trying to achieve three goals. First and most
  important, the game should be fun. This doesn't mean that it has to be easy (in fact quite the opposite), but the game shouldn't 
  feel like drudge work or an obligation, or homework (unless your homework happens to be fun). My friend 
  <a href="http://www.snowdaylearninglab.org/">Nathan Holbert</a> thinks a lot about this in his reasearch. 

  Second, the fun parts of the game should be the same as the learning parts. This is what the word <i>integration</i> refers to. 

  You want the best part of the game to be the part where players are engaging with your learning objectives. 

  Lastly, the core mechanics of the game should involve the manipulation of external representations of the learning content.
  This last part is jargony, but for us it just means that you play the game by building phylogenetic trees (external representations
  used by scientists).
  </p>

  <p>
  There was one really important goal for us that was a priority, because we had initially designed BAT as a museum exhibit. That was 
  the importance of the first 30 seconds of the experience. Sue Allen, who was writing about exhibit design at the Exploratorium in 
  San Francisco called this <i>immediate apprehendability</i>. The same idea has also been referred to as <i>early assured success</i>
  by people at the Minnisota Science Museum. I just call this the 30-second rule. If visitors can't figure out what's going on with 
  your exhibit in the first 30 seconds, they're going to walk away and find something else to do. This doesn't mean that they have to 
  understand everything about the exhibit from top to bottom, but they at least need to get what they're supposed to be doing with
  it from an interaction design perspective. Scott Snibbe and Hayes Raffle have a great paper from the CHI conference in 2009 called 
  Social Immersive Media that discusses these design principles in more detail.
  </p>

<h2>First Iteration</h2>
<p>
<img src="{% static 'images/blog/bat-figure3.png' %}" alt="Visitor holding times" style="width: 45%; float: right;">
For the first iteraction of BAT, you would drag species tokens together to build a tree. The order in which you put the tokens together determined the structure of the tree. The left-to-right order was not important, but the order in which you assembled the pieces was.
For example, if I dragged Bats and Birds together first, and then dragged humans on, I would get the tree on the left side. If, on the
other hand, I dragged humans and bats together first, I would get the tree on the right. If you were correct, the tree was white. If
you were wrong the tree was grey. You couldn't drag traits. The tree just appeared. There was no flow from the bottom of the tree to 
the top of the tree. Here we made some conscious tradeoffs in favor of simplicity of interaction over control of how the tree was 
assembled.
</p>
<img src="{% static 'images/blog/bat-figure4.png' %}" alt="Screenshot from the first iteration of BAT" style="width: 45%; float: right;">
<p>
In some ways the first version of BAT seemed successful. We observed X visitors at the Harvard Museum of Natural History in 2011. 
People generally seemed engaged, they were reasonably good at figuring out the basic game mechanics in a short amount of time, and 
a lot of people stuck around to try to finish all of the seven levels that we offered. This shows the distribution of holding times.
Some X% of the visitors stuck around longer than one minute, and Y% longer than three minutes, which about what you want for an
interactive exhibit. Shorter than that is an indication that people are struggling to figure out what they're supposed to do or that
the activity is really shallow. Longer than that, and you risk causing a backup in the flow of visitors or distracting people from 
all of the other amazing objects on display at the museum. 
<img src="{% static 'images/blog/bat-htimes2.png' %}" alt="Visitor holding times" style="width: 45%; float: right;">
</p>
FIGURE
<p>
The multi-touch tabletop seemed like it provided decent support for collaboration. Visitors often worked together and crowded around all
sides of the table, participating together in a variety of ways, both expected and unexpected. And, they even talked about evolution,
although maybe not in the depth that we were hoping for. So all of this was pretty good, but there were some big problems as well:
</p>
<ol>
<li>People were only indirectly manipulating the tree. The tree just appeared when you dragged species together.</li>
<li>There was a lack of direct control over the placement of the tips in the tree. Both for simplicity (30 second rule) and for the 
sake of playfullness.</li>
<li>Traits, which were one of our critical learning objectives, just appeared. So people were having a difficult time connecting traits
to their corresponding species, which also impacted tree thinking skills.</li>
<li>People weren't using the help function for the most part. And, when they did use it, it didn't really tell you anything useful about
the traits.</li>
</ol>
<p>
All of this was evident as we watched people play. A lot of visitors were determined to finish the entire game. But, you saw a shift
as they advanced to the harder levels. It's like they started to get what was going on after the first few levels, but then they gave
up and reverted to trying random combinations without thinking. Some early thrashing like this is good, but they weren't able to 
use what they had learned in early levels to systemmatically solve the harder levels. 

FIGURE WITH upsidedown U-SHAPED CURVE. Trial and error versus systemmatic thinking | Levels increasing on the X-axis. 
</p>

<h2>Second Iteration</h2>
<p>
Based on these problems, it seemed like it was time for a redesign. We had a bunch of design sessions with paper prototypes to try 
and hash out some new approaches. Then Florian Block took these ideas and built a new prototype with several great new features:
</p>
<ol>
<li>Traits are objects in their own right that players have to place on the tree to solve levels.</li>
<li>Players also had to drag <i>splitter</i> tokens onto the tree in order to introduce branching points.</li>
<li>It was easy to rearrange tips on the tree once the branching points were in place. So the order in which players placed species
on the tree was less important.</li>
<li>Florian introduced an animated flow from the root of the tree up to the tips. The nice part about this flow was that it showed
how traits would spread through branching points to all descendants in a particular clade. </li>
<li>A new microscope feature let visitors learn more about the traits themselves and what those traits mean for different species.</li>
</ol>
FIGURE with arrows annotating the features.
<p>
We tested this version at the Field Museum in Chicago with X parent-child dyads. We're still in the process of analyzing the video
data from this study, but we saw some important shifts in game play. 
</p>
<ul>
<li>The game is harder; you have to think more.</li>
<li>But players are really focusing much more on the tree itself and the relationships between traits and organisms.</li>
<li>The microscope, when it's used, is way more informative and helpful than the help feature in the previous verison.</li>
</ul>
<p>
All of this seemed like a positive step forward. Our biggest worry was that we had lost a little of playfulness of the original game
and that it was a little too hard for families to figure out what they were supposed to do without explicit scaffolding.
</div>


<br>
<br>
  <script id="bat-tip-data" type="application/json">
  [
    {
      "tag" : "bat", 
      "name" : "Bat",
      "cname" : "Townsend's big-eared bat", 
      "location" : "United States",
      "image" : "/static/bat2/images/taxa/bat.svg",
      "author" : "Photo: Wikipedia (public domain)",
      "cright" : "public domain",
      "text" : "Even though they can fly, bats are mammals not birds. They have hair, give birth to live babies, and nurse their young."
    },
   
    {
      "tag" : "bird",
      "name" : "Bird", 
      "cname" : "Common Tern",
      "location" : "",
      "image" : "/static/bat2/images/taxa/bird.svg",
      "author" : "Photo by: Luciano Giussani (flickr: giuss95). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc-sa)",
      "text" : "Birds are dinosaurs that have evolved feathers and the ability to fly. Some birds later became flightless, but most modern birds use their feathers for flight."
   },
   
   {
      "tag" : "butterfly",
      "name" : "Butterfly",
      "cname" : "Common Yellow Swallowtail",
      "location" : "Kriti, Greece",
      "image" : "/static/bat2/images/taxa/butterfly.svg",
      "author" : "Photo: Stavros Markopoulos (flickr: macropoulos). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc)",
      "text" : "Butterflies are arthropods. Like all other arthropods they have a hard structure called an exoskeleton that protects and supports their bodies. Unlike spiders and scorpions, butterflies are insects."
   },
   
   {
      "tag" : "crab",
      "name" : "Crab",
      "cname" : "Blunt-tooth swimming crab",
      "location" : "Guatemala",
      "image" : "/static/bat2/images/taxa/crab.svg",
      "author" : "Photo by: Thomas (Guatemala) (flickr). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc)",
      "text" : "Crabs are arthropods. Like insects, spiders, and scorpions, they have have a hard structure called an exoskeleton that protects and supports their bodies."
   },
   
   {
      "tag" : "frog",
      "name" : "Frog",
      "cname" : "Australian Green Tree Frog",
      "location" : "Australia",
      "image" : "/static/bat2/images/taxa/frog.svg",
      "author" : "Photo from Wikipedia by LiquidGhoul. Public domain.",
      "cright" : "public domain",
      "text" : "Baby frogs hatch in water and breathe with gills. As adults, they breathe air and move onto the land. Unlike reptiles and mammals, frog eggs lack an amniotic sac. This ties them to water for reproduction."
   },
   
   {
      "tag" : "giraffe",
      "name" : "Giraffe",
      "cname" : "Giraffe",
      "location" : "Kenya",
      "image" : "/static/bat2/images/taxa/giraffe.svg",
      "author" : "Photo by: kibuyu (flickr). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc-sa)",
      "text" : "Giraffes are mammals. All mammals feed their young through mammary glands. They also have hair, an adaptation for warmth and skin protection."
   },
   
   {
      "tag" : "human",
      "name" : "Human",
      "cname" : "Human",
      "location" : "",
      "image" : "/static/bat2/images/taxa/human.svg",
      "author" : "Jonathan Losos, Harvard University",
      "cright" : "Some rights reserved (cc-blank)",
      "text" : "Did you know humans are related to all other life on earth? Humans are mammals like giraffes and bats. All mammals feed their young through mammary. glands They also have hair, an adaptation for warmth and skin protection."
   },
   
   {
      "tag" : "lizard",
      "name" : "Lizard",
      "cname" : "Green Anole",
      "location" : "North Carolina, USA",
      "image" : "/static/bat2/images/taxa/lizard.svg",
      "author" : "Photo by: e_monk (flickr). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc-sa)",
      "text" : "Lizards are reptiles. They have scales covering their bodies. Lizards have holes on each side of the skull like birds and dinosaurs."
   },
   
   {
      "tag" : "plant",      
      "name" : "Green Plant", 
      "cname" : "Butterfly Milkweed",
      "location" : "Wisconsin, USA",
      "image" : "/static/bat2/images/taxa/plant.svg",
      "author" : "Photo by: Peter Gorman (flickr: pchgorman). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc-sa)",
      "text" : "Green plants turn sunlight into energy through the process of photosynthesis. Plants and animals shared an ancestor many, many millions of years ago."
   },
   
   {
      "tag" : "scorpion",
      "name" : "Scorpion",
      "cname" : "Giant hairy scorpion (Hadrurus arizonensis)",
      "location" : "Joshua Tree National Park",
      "image" : "/static/bat2/images/taxa/scorpion.svg",
      "author" : "Photo by: NPS/Robb Hannawacker. Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-sa)",
      "text" : "Scorpions are arthropods. Like all other arthropods they have a hard structure called an exoskeleton that protects and supports their bodies. Scorpions also have eight legs like spiders."
   },
   
    {
      "tag" : "spider",
      "name" : "Spider",
      "cname" : "Jumping Spider",
      "location" : "Oklahoma, USA",
      "image" : "/static/bat2/images/taxa/spider.svg",
      "author" : "Photo by: Thomas Shahan. Some rights reserved.",
      "cright" : "Some rights reserved (cc-by)",
      "text" : "What makes a spider a spider? Spiders have eight jointed legs and a hard structure called an exoskeleton that protects and supports their bodies. Spiders are not insects, but they are related to other arthropods like insects, scorpions, and crabs."
    },
   
    {
      "tag" : "trex",
      "name" : "T. Rex",
      "cname" : "Tyrannosaurus Rex",
      "location" : "Carnegie Museum of Natural History, Pittsburgh",
      "image" : "/static/bat2/images/taxa/trex.svg",
      "author" : "Photo by: Scott Robert Anselmo. Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-sa)", 
      "text" : "Tyrannosaurus rex is more closely related to birds than to lizards. Birds and tyrannosaurs both have a wishbone and walk on two legs."
    }
  ]
  </script>

  <script id="bat-trait-data" type="application/json">
  [
    { 
      "tag" : "eukaryotes", 
      "description" : "cells with nuclei", 
      "clade" : "eukaryotes", 
      "time" : "2 billion years ago",
      "text" : "Eukarya have cells with nuclei. Most also have organelles inside each cell. This group includes animals, plants, fungi and many tiny protists."
    },

    {
      "tag" : "bilateria",
      "description" : "left-right symmetry", 
      "clade" : "bilateria", 
      "time" : "555 million years ago",
      "text" : "Bilateria are animals whose left and right sides are mirror images of each other on the outside. They have a head with a mouth and sensory organs."
    },

    {
      "tag" : "mammals",
      "description" : "mammary glands", 
      "clade" : "mammals", 
      "time" : "225 million years ago",
      "text" : "All mammals feed their young through mammary glands, which allow them to sustain their young in different environments. They also all have hair."
    },

    {
      "tag" : "arthropods",
      "description" : "external skeleton", 
      "clade" : "arthropods", 
      "time" : "540 million years ago",
      "text" : "Arthropods have external skeletons, a hard structure on the outside of the body that protects and supports the animal inside."
    },

    {
      "tag" : "arachnids",
      "description" : "eight legs", 
      "clade" : "arachnids", 
      "time" : "420 million years ago",
      "text" : "Arachnids are creatures with two body segments, eight legs, and no wings or antennae."
    },

    {
      "tag" : "amniotes",
      "description" : "amniotic egg", 
      "clade" : "amniotes", 
      "time" : "312 million years ago",
      "text" : "The amniotic egg sac allows animals to reproduce on dry land. No longer tied to the sea for reproduction, the amniotes adapted to life far inland."
    },

    {
      "tag" : "diapsids",
      "description" : "lizard-like skull", 
      "clade" : "diapsids", 
      "time" : "302 million years ago",
      "text" : "Lizards, dinosaurs, snakes, and birds are all diapsids, meaning 'two arches'. The name refers to two holes on each side of the skull."
    },

    {
      "tag" : "tetrapods",
      "description" : "four-limbs", 
      "clade" : "tetrapoda", 
      "time" : "359 million years ago",
      "text" : "Tetrapod means 'four limbs'. Tetrapods evolved from lobe-finned fishes and made the transition to life on land."
    },

    {
      "tag" : "theropods",
      "description" : "wishbone", 
      "clade" :  "theropods", 
      "time" : "230 million years ago",
      "text" : "Most theropod dinosaurs walked on two feet, a trait that is rare today, except in humans. Birds inherited this trait from their dinosaur ancestors."
    },

    {
      "tag" : "vertebrates",
      "description" : "internal skeleton", 
      "clade" : "vertebrates", 
      "time" : "525 million years ago",
      "text" : "Vertebrates have a backbone, a protective bony structure that surrounds the spinal cord and supports the body."
    }
  ]
  </script>

  <script id="bat-level-data" type="application/json">
    [
      {
        "level-id" : 1,
        "title" : "Level 1",
        "subtitle" : "Plants and Animals",
        "traits" : [ "eukaryotes", "bilateria" ],
        "tips" : [
          { "tag" : "bird", "traits" : [ "eukaryotes", "bilateria" ] },
          { "tag" : "lizard", "traits" : [ "eukaryotes", "bilateria" ] },
          { "tag" : "plant", "traits" : [ "eukaryotes" ] }
        ]
      },
  
      {
        "level-id" : 2,
        "title" : "Level 2", 
        "subtitle" : "Bats, Birds, and People",
        "traits" : [ "vertebrates", "mammals" ],
        "tips" : [
          { "tag" : "human", "traits" : [ "vertebrates", "mammals" ] },
          { "tag" : "bird", "traits" : [ "vertebrates" ] },
          { "tag" : "bat", "traits" : [ "vertebrates", "mammals" ] }
        ]
      },

      {
        "level-id" : 3,
        "title" : "Level 3", 
        "subtitle" : "Arthropods",
        "traits" : [ "arthropods", "arachnids" ],
        "tips" : [
          { "tag" : "scorpion", "traits" : [ "arthropods", "arachnids" ] },
          { "tag" : "spider", "traits" : [ "arthropods", "arachnids" ] },
          { "tag" : "crab", "traits" : [ "arthropods" ] }
        ]
      },

      {
        "level-id" : 4,
        "title" : "Level 4",
        "subtitle" : "Amniotes",
        "traits" : [ "amniotes", "diapsids", "theropods" ],
        "tips" : [
          { "tag" : "bird", "traits" : [ "amniotes", "diapsids", "theropods" ] },
          { "tag" : "trex", "traits" : [ "amniotes", "diapsids", "theropods" ] },
          { "tag" : "lizard", "traits" : [ "amniotes", "diapsids" ] },
          { "tag" : "bat", "traits" : [ "amniotes" ] }
        ]
      },

      {
        "level-id" : 5,
        "title" : "Level 5",
        "subtitle" : "The funny thing about frogs...",
        "traits" : [ "amniotes", "diapsids", "theropods", "tetrapods" ],
        "tips" : [
          { "tag" : "trex", "traits" : [ "tetrapods", "amniotes", "diapsids", "theropods" ] },
          { "tag" : "frog", "traits" : [ "tetrapods" ] },
          { "tag" : "lizard", "traits" : [ "tetrapods", "amniotes", "diapsids" ] },
          { "tag" : "bird", "traits" : [ "tetrapods", "amniotes", "diapsids", "theropods" ] },
          { "tag" : "human", "traits" : [ "tetrapods", "amniotes" ] }
        ]
      },

      {
        "level-id" : 6,
        "title" : "Level 6",
        "subtitle" : "Vertebrates and Invertebrates",
        "traits" : [ "bilateria", "vertebrates", "arthropods", "mammals", "theropods" ],
        "tips" : [
          { "tag" : "butterfly", "traits" : [ "bilateria", "arthropods" ] },
          { "tag" : "trex", "traits" : [ "bilateria", "vertebrates", "tetrapods", "theropods" ] },
          { "tag" : "giraffe", "traits" : [ "bilateria", "vertebrates", "tetrapods", "mammals" ] },
          { "tag" : "bat", "traits" : [ "bilateria", "vertebrates", "tetrapods", "mammals" ] },
          { "tag" : "spider", "traits" : [ "bilateria", "arthropods" ] },
          { "tag" : "bird", "traits" : [ "bilateria", "vertebrates", "tetrapods", "theropods" ] }
        ]
      },

      {
        "level-id" : 7,
        "title" : "Level 7",
        "subtitle" : "Getting harder...",
        "traits" : [ "eukaryotes", "bilateria", "vertebrates", "arthropods", "amniotes", "diapsids" ],
        "tips" : [
          { "tag" : "frog", "traits" : [ "eukaryotes", "bilateria", "vertebrates" ] },  
          { "tag" : "bird", "traits" : [ "eukaryotes", "bilateria", "vertebrates", "amniotes", "diapsids" ] },  
          { "tag" : "bat", "traits" : [ "eukaryotes", "bilateria", "vertebrates", "amniotes" ] },  
          { "tag" : "lizard", "traits" : [ "eukaryotes", "bilateria", "vertebrates", "amniotes", "diapsids" ] },  
          { "tag" : "spider", "traits" : [ "eukaryotes", "bilateria", "arthropods" ] },  
          { "tag" : "plant", "traits" : [ "eukaryotes" ] }
        ]
      }
    ]
  </script>


  <script src="{% static 'bat2/dart/main.dart.js' %}" type="text/javascript"></script>
  
{% endblock %}