{% extends 'base-blog.html' %}
{% block primary %}

  {% load static %}
  {% load staticfiles %}

<link rel="stylesheet" href="{% static 'bat2/css/bat.css' %}">
<script>
  localStorage.setItem("STATIC_ROOT", "/static/bat2/");
</script>

<div class="column one">

  <p>
    by <a href="http://tidal.northwestern.edu/people/mikehorn" target="_blank">Michael Horn</a> (July 3, 2015)
  </p>
  <p>
    Over the past few years I've been working with <a href="http://florianblock.net/" target="_blank">Florian Block</a>, 
    <a href="http://www.seas.harvard.edu/directory/cshen" target="_blank">Chia Shen</a>, and the 
    <a href="http://lifeonearth.seas.harvard.edu" target="_blank">Life on Earth team</a> 
    to create an evolution puzzle game called Build-a-Tree (BAT) for natural history museums and other informal learning spaces. 

    This has been a challenging project from the beginning. 

    Evolution is a fascinating topic, but it's still hard to get people to engage in difficult 
    science thinking in free-choice environments. 

    Our challenge was to strike the right balance between fun and learning, while using the game as a starting point for deeper conversations about evolution.
  </p>

  <p>
    Build-a-Tree debuted as part of the <a href="https://vimeo.com/51581735" target="_blank">Tree of Life exhibit</a> at the 
    California Academy of Sciences in October 2012. 

    Florian and Chia followed that up with a web-based version of the game that was released as part of a 
    <a href="http://www.pbs.org/wgbh/nova/labs/lab/evolution/" target="_blank">PBS NOVA Lab</a> on evolution. 

    Eventually we'd like to make BAT available as a tool that anyone could use to illustrate evolution concepts. 

    The idea is to make it easy to embed custom BAT levels in blogs, web pages, or mobile apps. 

    To give a sense for what this would be like, you can try the game as part of this post.

    Just drag the species circles in the green window together to start building a tree... 
  </p>

  <!-- game canvas -->
  <div class="bat-game-container">

    <div id="bat-level-title">Level 1:</div>
    <canvas id="game" width="850" height="500"></canvas>

    <!-- game buttons -->
    <div class="bat-button-bar">
      <!-- <button id="bat-home-button" class="bat-round-button"><span class="icon-home2"></span></button> -->
      <button id="bat-mute-button" class="bat-round-button"><span id="audio-button-icon" class="icon-volume-medium"></span></button>
      <button id="bat-levels-button" class="bat-round-button"><span class="icon-list"></span></button>
      <button id="bat-restart-button" class="bat-round-button"><span class="icon-spinner2"></span></button>
      <button id="bat-info-button" class="bat-round-button" style="font-size: 40px;">i</button>
      <!-- <button id="bat-help-button" class="bat-round-button" style="font-size: 40px;">?</button> -->
    </div>

    <!-- dialog boxes -->
    <div id="bat-overlay">


      <!-- BAT LEVELS -->
      <div id="bat-levels" class="bat-dialog">
        <button class="bat-close-button bat-round-button"><span class="icon-close"></span></button>
        <h2>Game Levels</h2>
        <!-- <ul style="column-count: 2; -webkit-column-count: 2; -moz-column-count: 2;"> -->
        <ol>
        <li><a href="#level1">Plants and Animals</a></li>
        <li><a href="#level2">Bats, Birds, &amp; People</a></li>
        <li><a href="#level3">Arthropods</a></li>
        <li><a href="#level4">Amniotes</a></li>
        <li><a href="#level5">The funny thing about frogs...</a></li>
        <li><a href="#level6">Vertebrates and Invertebrates</a></li>
        <li><a href="#level7">Getting harder...</a></li>
        </ol>
      </div>
  

      <!-- HELP DIALOG -->
      <div id="bat-help" class="bat-dialog">
        <button id="bat-help-close" class="bat-close-button bat-round-button"><span class="icon-close"></span></button>
        <h2>Trait Inspector</h2>
        <table style="margin-top: 10px; border-collapse: separate; border-spacing: 10px;">
          <tr>
            <td id="bat-help-image"><span id="bat-help-license"></span></td>
            <td class="bat-help-trait-box">
              Click on a <a id="bat-help-name"></a> trait to learn more...</b>
              <ul id="bat-help-traits"></ul>
            </td>
          </tr>
        </table>
        <b id="bat-help-cname"></b> &mdash; <span id="bat-help-location"></span>
        <p id="bat-help-text"></p>
        </p>         
      </div>


      <!-- LEVEL CLEARED DIALOG -->
      <div id="bat-cleared" class="bat-dialog">
        <button class="bat-close-button bat-round-button"><span class="icon-close"></span></button>
        <h2>Level Cleared!</h2>
        <img src="{% static 'bat2/images/success.png' %}" style="margin: 20px 0;">
        <br>
        <div class="bat-button-row">
          <button id="bat-cleared-restart-button" class="bat-round-button"><span class="icon-spinner2"></span></button>
          <button id="bat-cleared-next-button" class="bat-round-button" style="padding-left: 4px;"><span class="icon-play"></span></button>
        </div>
      </div>


      <!-- BAT CREDITS -->
      <div id="bat-credits" class="bat-dialog">
        <button class="bat-close-button bat-round-button"><span class="icon-close"></span></button>
        <h2>Credits</h2>
        <p>
        Build-a-Tree was created by the 
        <a href="http://lifeonearth.seas.harvard.edu" target="_blank">Life on Earth</a> project and 
        <a href="http://tidal.northwestern.edu" target="_blank">TIDAL Lab</a>. <br>
        Game design by Michael Horn, Florian Block, and the Life on Earth team. <br>
        Programming by Florian Block and Michael Horn.
        </p>
        <table>
          <tr> <td style="padding-right: 80px;">Chia Shen (PI)</td> <td>Harvard University</td> </tr>
          <tr> <td>Judy Diamond (co-PI)</td> <td>University of Nebraska State Museum</td> </tr>
          <tr> <td>E. Margaret Evans (co-PI)</td> <td>University of Michigan</td> </tr>
          <tr> <td>Michael S. Horn (co-PI)</td> <td>Northwestern University</td> </tr>
          <tr> <td>Florian Block</td> <td>Harvard University</td> </tr>
          <tr> <td>Brenda C. Phillips</td> <td>Boston University</td> </tr>
          <tr> <td style="vertical-align: top;">Science Advisors</td>
            <td>James Hanken, Gonzola Giribet, Jonathan Losos, Andrew Berry, <br>
                Hopi-Hoekstra, David Mindell, Sebastian Velez, and Mark Westneat.
            </td>
          </tr>
        </table>
        <table style="margin: 20px 0 0 150px;">
          <tr>
            <td style="vertical-align: top; padding-right: 10px; padding-left: 18px;"><span class="icon-twitter" style="font-size: 24pt;"></span></td>
            <td style="vertical-align: top;">
              Follow us on Twitter<br>
              <a href="https://twitter.com/DeepTreeExhibit" target="_blank">@DeepTreeExhibit</a>
            </td>
            <td style="vertical-align: top; padding-right: 10px; padding-left: 18px;"><span class="icon-facebook" style="font-size: 24pt;"></span></td>
            <td style="vertical-align: top;">
              Join us on Facebook<br>
              <a href="http://facebook.com/DeepTreeExhibit" target="_blank">facebook.com/DeepTreeExhibit</a>
            </td>
          </tr>
        </table>
        <br>
        <br>
          This app is based upon work supported by the National Science
          Foundation under grant DRL-1010889. Any opinions, findings, and conclusions or
          recommendations expressed in this material are those of the author(s) and do
          not necessarily reflect the views of the National Science Foundation (NSF).
      </div>        
    </div>
  </div>

  <p>
  In this post I'm going to talk about how our design changed over time as we struggled to find
  the right balance of fun, playability, and value as a learning experience. 
  </p>

  <h2>Learning Goals</h2>

  <p>
  As we were putting BAT together, we had a few big-picture
  learning goals in mind. The first is that <b>all life on earth is related</b>. In other words, if you could travel far
  enough back in time, you could find a common genetic ancestor for any two organisms on the planet, no matter how different they
  might seem. 

  So, just like you and your cousin share an ancestor in common (a grandparent), 
  you and the banana you ate for breakfast also share a distant, distant ancestor. 

  The difference is that unlike your grandparent, this ancestor was a primordial Eukaryotic organism that carried 
  genetic information that is still shared by all plants and animals to this day.
  </p>
  <p>
  The second big idea is that there are <b>key evolutionary landmarks</b> that define 
  major groups of life. These landmarks are shared genetic traits that emerged from evolutionary processes (like natural selection,
  genetic drift, and mutation), and allowed organisms to take advantage of new ecological niches. 

  One of my favorite examples is the <i>amniotic egg sac</i> that made it possible for the common ancestors of modern-day 
  birds, mammals, and reptiles to lay eggs away from water and colonize newly accessible inland habitats. 

  Amphibians don't have this trait, which means that they have to return to the water to lay eggs and reproduce. 
  </p>
  <p>
  <img src="{% static 'images/blog/bat-figure1.png' %}" style="width: 45%; float: right; margin: 0 50px;" alt="a phylgenetic tree showing the relationships of spiders, butterflies, birds, dinosaurs, bats, and giraffes.">
  The last big idea relates to something called <b>tree-thinking skills</b>. 

  One of the most important representations of modern biology is called a <i>cladogram</i> or a <i>phylogenetic tree</i>. 

  These diagrams depict hypothesized relationships and traits of organisms, genes, or even proteins. 

  Baum, Smith, and Donovan published an influential 
  <a href="http://www.sciencemag.org/content/310/5750/979.summary" target="_blank">paper</a> in the journal, <i>Science</i>, 
  arguing that everyone should learn tree-thinking skills as a matter of basic science education. 

  These skills include to being able to read and understand trees without misinterpreting their meaning. 

  Common mistakes include assuming that the left-to-right ordering of a tree is important or that the organisms on the 
  far right side are the most "evolved". 

  For example, a misunderstanding of the tree shown here is that giraffes are the most complex or evolved species 
  (which is not true), and that butterflies and birds are more closely related than birds and giraffes (also not true).
  </p>

  <p>
  We had lots of other learning goals that were more factual in nature. For example, it would be nice if people learned 
  that lizards and humans are more closely related than lizards and frogs. But this kind of factual knowledge was less 
  important than big-picture concepts that support a deeper understanding of evolution.
  </p>

  <h2>Design Principles</h2>
  <p>
  To get at these learning objectives, our design was guided by a number of design principles mostly taken from research 
  on learning, games, and museums. 

  One of the most important concepts is called <i>intrinsic integration</i>. 

  This concept was originally proposed by Yasmin Kafai and then elaborated on by Habgood &amp; Ainsorth in an 
  influential <a href="http://dl.acm.org/citation.cfm?id=2215096">paper</a> in the Journal of the Learning Sciences. 

  Intrinsic integration is meant to contrast with the edutainment movement of the 1990s in which game-like elements
  and incentives were used to motivate kids to do educational activities that they would otherwise be less interested in. 

  In other words, it's not about making learning fun as much as it's about making it more palatable. 

  The difference with intrinsic integration is that you're trying to tightly integrate game play with 
  the target learning objectives. This has some important implications.
  </p>

  <p>
  First and most important, games should be fun. This doesn't mean that they have to be easy, but they shouldn't
  feel like drudge work.
  My friend <a href="http://www.snowdaylearninglab.org/">Nathan Holbert</a> thinks a lot about the fun factor in his 
  dissertation research with Uri Wilensky. 
  This also means that the fun parts of the game should be the same as the learning parts, which is what the word
  <i>integration</i> refers to. 

  You want the most exciting and interesting bits of the game to be where players are engaging with your 
  learning objectives. 

  Lastly, the core mechanics of the game should involve the manipulation of external representations of the learning content.
  This last part is jargony, but for us it just means that you play the game by building phylogenetic trees. And, importantly,
  these trees are similar to those used by real scientists use to describe evolutionary relationships.
  </p>

  <p>
  There was one other really important goal for us. Because we had initially designed BAT as a museum exhibit, the first 30 
  seconds of visitors' experience with the game is crucial. Sue Allen, who was writing about exhibit design at the 
  Exploratorium in San Francisco, called this principle <i>immediate apprehendability</i>. 

  The same idea has also been referred to as <i>early assured success</i> by the Science Museum of Minnesota. 

  I just call this the 30-second rule. If visitors can't figure out what's going on with your exhibit in the first 30 seconds, 
  they're going to walk away and find something else to do. This doesn't mean that they have to understand everything about 
  the exhibit from top to bottom, but they at least need to get how they're supposed to play the game and get some positive 
  reinforcement around their actions. Scott Snibbe and Hayes Raffle have a great 
  <a href="http://static1.squarespace.com/static/54617fbbe4b0e09964383d07/t/547e2406e4b0d4a9ddc31822/1417552902537/2009SocialImmersive_CHI.pdf">paper</a>
  from the CHI 2009 conference called Social Immersive Media that digs into some of they ways you can go about doing this. 
  </p>

<h2>First Version</h2>
<p>
I started work on the design and programming for the first version of BAT in late 2010. For this first pass, I was preoccupied 
with playfulness and simplicity. To build trees, all you had to do was drag species tokens together on the touch screen.

The order in which tokens were assembled would determine how the tree appeared. 

So, for example, if you dragged bats and birds together first, followed by humans, you would get the tree shown below. 

But, if you dragged humans and bats together first, you would get a different tree with humans and bats sharing a more 
recent common ancestor.

If the tree you created was "incorrect", the tree would appear greyed out. 
But if it was correct, it would appear white, and you would earn stars. 

With this design, the tree structure just appeared automatically with traits drawn in place.
</p>
<div style="width: 100%; text-align: center;">
<img src="{% static 'images/blog/bat-figure3.png' %}" alt="BAT Version 1 play" style="height: 3in;">
<img src="{% static 'images/blog/bat-figure4.png' %}" alt="BAT Version 1 screenshot" style="height: 3in;">
</div>
<p>
In some ways this first version of BAT seemed successful. Over the summer of 2011, we observed 188 visitors at the 
Harvard Museum of Natural History.

Based on our observations, visitors generally seemed engaged, they were reasonably good at figuring out the game mechanics 
in a short amount of time, and lots of people stuck around to try to finish all seven levels that we offered. 

They even talked about evolution, although maybe not in the depth that we were hoping for. 

Around 70% of the visitors stuck around for at least a minute, and 28% longer than four minutes, which about what you want for an
interactive museum exhibit. 

Shorter than that is an indication that people are struggling to figure out what they're supposed to do or worse that
the activity is too shallow. 

Longer than that, and you risk causing a backup in the flow of visitors or distracting people from all of the other 
amazing things to see and do at the museum. 
<!--
<img src="{% static 'images/blog/bat-htimes2.png' %}" alt="Visitor holding times" style="width: 45%; float: right;">
-->
</p>

<p>
The multi-touch tabletop also seemed to provide decent support for collaboration. 

Visitors worked together and crowded around all sides of the table, collaborating in ways both expected and unexpected. 

So all of this was pretty good, but there were a few big problems as well:

First, because of our emphasis on simplicity, people were only indirectly manipulating the tree structure by dragging
species together. 

This meant that there was a lack of direct control over the placement of the tips in the tree. 
To try different combinations, you had to drag the tree apart and start over.</li>

Second, people had difficulty connecting traits to their corresponding species. 

Since the idea of shared traits was one of our most important learning objectives, this seemed like a big shortcoming. 

Lastly, people weren't using the help function for the most part. 
And, even when they did use it, it didn't really tell you anything useful about the traits.
</p>

<p>
All of this was clear from watching visitors play at the museum. 

Even though lots of people were determined to finish the entire game, there was a shift as they advanced to the harder levels. 

They would start to understand what was going on after the first few levels, but as the levels got harder, they would 
give up and revert to trying random combinations without much thinking. 

Some early thrashing like this is probably good, but people weren't able to use what they had learned in early 
levels to systematically solve the puzzles in the harder levels. 
</p>

<h2>Second Version</h2>
<p>
Based on these problems, it seemed like it was time for a redesign. We started with a series of design sessions with 
paper prototypes. Then Florian Block took the best of these ideas and built a new prototype with several new features.
First, traits are objects in their own right that players have to drag and place on the tree to solve levels.

Players also had much more direct control over the structure of tree itself. Florian introduced <i>splitter</i> tokens 
that can be dragged onto the tree in order to introduce branching points.

Once branching points were defined, it was easy to rearrange the species tokens along the canopy of the tree. 

So the order in which players placed species tokens on the tree was much less important.

Florian also introduced an animated flow from the root of the tree up to the tips. 

The nice part about this flow was that it showed how traits would spread through branching points to all 
descendants of a particular clade. This reinforced tree thinking skills and the idea of shared ancestral traits. 

Finally, a new microscope feature let visitors learn more about the traits themselves and what those traits 
mean for different species.
</p>
<div style="width: 100%; text-align: center;">
<img src="{% static 'images/blog/bat-figure6.png' %}" alt="BAT version 2" style="height: 2.6in;">
<img src="{% static 'images/blog/bat-figure7.png' %}" alt="New BAT microscope feature" style="height: 2.6in;">
</div>
<p>
We tested this new version at the Field Museum in Chicago with 40 parent-child pairs. 

We're still in the process of analyzing the video data from this study, but we saw some important shifts in game play. 

First, the game was clearly harder; you have to think more, especially in the earlier levels.

But, players were also focusing much more on the tree itself and the relationships between traits and organisms.

This seemed like a huge improvement that was reflected in the kind of evolution talk that we were hearing from players. 

The microscope, when it was used, also seemed much more informative and helpful than the help feature in the previous version.
</p>
<p>
All of this seemed like a positive step forward. Our biggest worry was that we had lost a little of playfulness 
of the original game and that it was a little too hard for families to figure out what they were supposed to do 
without explicit scaffolding. And that led to another revision...
</p>

<h2>Third Version and Beyond?</h2>
<p>
Our last major iteration tried to combine the best parts of the previous two versions. For the most part this meant removing
the splitter tokens and bringing back the features that let people build trees by touching species tokens together. 

Of course, it's a little more complicated than that because we wanted to make it easier to reorganize the tree structure
without having to tear everything apart and start from scratch. This meant that Flo and I spent a lot of time refining the 
interaction to be intuitive and simple, but flexible as well. 

So that's where we are. Please send your comments, feedback, and suggestions!

</p>

<h2>Other stuff to read</h2>

<ul>
<li>Snibbe, S. and H. Raffle. (2009).
<a href="http://www.snibbe.com/research/social/">Social Immersive Media: Pursuing best practices 
for multi-user interactive camera/projector exhibits.</a>
Proceedings of the ACM Conference on Human Factors in Computing Systems (CHI'09).</li>

<li>
Villanosa, K., Block, F., Horn, M.S., Shen, C. (2014). 
<a href="http://tidal.northwestern.edu/media/files/pubs/bat-gls-2014.pdf">
Build-a-Tree: Parent-child gaming to learn about evolution in museum settings.</a>
Games, Learning, and Society (GLS'14). </li>

<li>Horn, M.S., Leong, Z.A., Block, F., Diamond, J., Evans, E.M., Phillips, B., Shen, C. (2012). 
<a href="http://tidal.northwestern.edu/media/files/pubs/horn-chi-2012.pdf">
Of BATs and APEs: An interactive tabletop game for natural history museums.</a> 
Proceedings of the ACM Conference on Human Factors in Computing Systems (CHI'12). </li>

<li>Sue Allen. (2004).
<a href="http://onlinelibrary.wiley.com/doi/10.1002/sce.20016/abstract">
Designs for learning: Studying science museum exhibits that do more than entertain.</a>
Science Education, 88(S1), S17–S33.</li>

</ul>



<h2>Credits</h2>
<p>
Lots of people helped make BAT possible. 

The Life on Earth Team included 

Chia Shen (Harvard University),
Judy Diamond (University of Nebraska State Museum),
E. Margaret Evans (University of Michigan),
Michael Horn (Northwestern University),
Florian Block (Harvard University), and
Brenda Phillips (Boston University). 
Zeina Atrash Leong (Northwestern University) and 
Krystal Villanosa (Northwestern University) ran the studies at the 
Field Museum and the Harvard Museum of Natural History with the assistance
of Audrey Hosford. 
Sebastian Velez verified the evolutionary relationships that appear in the game and 
provided valuable help identifying appropriate biological traits. 

We thank the Harvard Museum of Natural History and Janis Sacco, 
and the Field Museum and Matt Matcuk and Jaap Hoogstraten
for allowing us to conduct this research in their galleries. 

Finally, we thank the National Science Foundation for their support of this project (DRL-1010889). 
Any opinions, findings and conclusions or recommendations expressed in this material are those of 
the authors and do not necessarily reflect the views of the National Science Foundation.
</p>
</div>
<br>
<br>
  <script id="bat-tip-data" type="application/json">
  [
    {
      "tag" : "bat", 
      "name" : "Bat",
      "cname" : "Townsend's big-eared bat", 
      "location" : "United States",
      "image" : "/static/bat2/images/taxa/bat.svg",
      "author" : "Photo: Wikipedia (public domain)",
      "cright" : "public domain",
      "text" : "Even though they can fly, bats are mammals not birds. They have hair, give birth to live babies, and nurse their young."
    },
   
    {
      "tag" : "bird",
      "name" : "Bird", 
      "cname" : "Common Tern",
      "location" : "",
      "image" : "/static/bat2/images/taxa/bird.svg",
      "author" : "Photo by: Luciano Giussani (flickr: giuss95). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc-sa)",
      "text" : "Birds are dinosaurs that have evolved feathers and the ability to fly. Some birds later became flightless, but most modern birds use their feathers for flight."
   },
   
   {
      "tag" : "butterfly",
      "name" : "Butterfly",
      "cname" : "Common Yellow Swallowtail",
      "location" : "Kriti, Greece",
      "image" : "/static/bat2/images/taxa/butterfly.svg",
      "author" : "Photo: Stavros Markopoulos (flickr: macropoulos). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc)",
      "text" : "Butterflies are arthropods. Like all other arthropods they have a hard structure called an exoskeleton that protects and supports their bodies. Unlike spiders and scorpions, butterflies are insects."
   },
   
   {
      "tag" : "crab",
      "name" : "Crab",
      "cname" : "Blunt-tooth swimming crab",
      "location" : "Guatemala",
      "image" : "/static/bat2/images/taxa/crab.svg",
      "author" : "Photo by: Thomas (Guatemala) (flickr). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc)",
      "text" : "Crabs are arthropods. Like insects, spiders, and scorpions, they have have a hard structure called an exoskeleton that protects and supports their bodies."
   },
   
   {
      "tag" : "frog",
      "name" : "Frog",
      "cname" : "Australian Green Tree Frog",
      "location" : "Australia",
      "image" : "/static/bat2/images/taxa/frog.svg",
      "author" : "Photo from Wikipedia by LiquidGhoul. Public domain.",
      "cright" : "public domain",
      "text" : "Baby frogs hatch in water and breathe with gills. As adults, they breathe air and move onto the land. Unlike reptiles and mammals, frog eggs lack an amniotic sac. This ties them to water for reproduction."
   },
   
   {
      "tag" : "giraffe",
      "name" : "Giraffe",
      "cname" : "Giraffe",
      "location" : "Kenya",
      "image" : "/static/bat2/images/taxa/giraffe.svg",
      "author" : "Photo by: kibuyu (flickr). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc-sa)",
      "text" : "Giraffes are mammals. All mammals feed their young through mammary glands. They also have hair, an adaptation for warmth and skin protection."
   },
   
   {
      "tag" : "human",
      "name" : "Human",
      "cname" : "Human",
      "location" : "",
      "image" : "/static/bat2/images/taxa/human.svg",
      "author" : "Jonathan Losos, Harvard University",
      "cright" : "Some rights reserved (cc-blank)",
      "text" : "Did you know humans are related to all other life on earth? Humans are mammals like giraffes and bats. All mammals feed their young through mammary. glands They also have hair, an adaptation for warmth and skin protection."
   },
   
   {
      "tag" : "lizard",
      "name" : "Lizard",
      "cname" : "Green Anole",
      "location" : "North Carolina, USA",
      "image" : "/static/bat2/images/taxa/lizard.svg",
      "author" : "Photo by: e_monk (flickr). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc-sa)",
      "text" : "Lizards are reptiles. They have scales covering their bodies. Lizards have holes on each side of the skull like birds and dinosaurs."
   },
   
   {
      "tag" : "plant",      
      "name" : "Green Plant", 
      "cname" : "Butterfly Milkweed",
      "location" : "Wisconsin, USA",
      "image" : "/static/bat2/images/taxa/plant.svg",
      "author" : "Photo by: Peter Gorman (flickr: pchgorman). Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-nc-sa)",
      "text" : "Green plants turn sunlight into energy through the process of photosynthesis. Plants and animals shared an ancestor many, many millions of years ago."
   },
   
   {
      "tag" : "scorpion",
      "name" : "Scorpion",
      "cname" : "Giant hairy scorpion (Hadrurus arizonensis)",
      "location" : "Joshua Tree National Park",
      "image" : "/static/bat2/images/taxa/scorpion.svg",
      "author" : "Photo by: NPS/Robb Hannawacker. Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-sa)",
      "text" : "Scorpions are arthropods. Like all other arthropods they have a hard structure called an exoskeleton that protects and supports their bodies. Scorpions also have eight legs like spiders."
   },
   
    {
      "tag" : "spider",
      "name" : "Spider",
      "cname" : "Jumping Spider",
      "location" : "Oklahoma, USA",
      "image" : "/static/bat2/images/taxa/spider.svg",
      "author" : "Photo by: Thomas Shahan. Some rights reserved.",
      "cright" : "Some rights reserved (cc-by)",
      "text" : "What makes a spider a spider? Spiders have eight jointed legs and a hard structure called an exoskeleton that protects and supports their bodies. Spiders are not insects, but they are related to other arthropods like insects, scorpions, and crabs."
    },
   
    {
      "tag" : "trex",
      "name" : "T. Rex",
      "cname" : "Tyrannosaurus Rex",
      "location" : "Carnegie Museum of Natural History, Pittsburgh",
      "image" : "/static/bat2/images/taxa/trex.svg",
      "author" : "Photo by: Scott Robert Anselmo. Some rights reserved.",
      "cright" : "Some rights reserved (cc-by-sa)", 
      "text" : "Tyrannosaurus rex is more closely related to birds than to lizards. Birds and tyrannosaurs both have a wishbone and walk on two legs."
    }
  ]
  </script>

  <script id="bat-trait-data" type="application/json">
  [
    { 
      "tag" : "eukaryotes", 
      "description" : "cells with nuclei", 
      "clade" : "eukaryotes", 
      "time" : "2 billion years ago",
      "text" : "Eukarya have cells with nuclei. Most also have organelles inside each cell. This group includes animals, plants, fungi and many tiny protists."
    },

    {
      "tag" : "bilateria",
      "description" : "left-right symmetry", 
      "clade" : "bilateria", 
      "time" : "555 million years ago",
      "text" : "Bilateria are animals whose left and right sides are mirror images of each other on the outside. They have a head with a mouth and sensory organs."
    },

    {
      "tag" : "mammals",
      "description" : "mammary glands", 
      "clade" : "mammals", 
      "time" : "225 million years ago",
      "text" : "All mammals feed their young through mammary glands, which allow them to sustain their young in different environments. They also all have hair."
    },

    {
      "tag" : "arthropods",
      "description" : "external skeleton", 
      "clade" : "arthropods", 
      "time" : "540 million years ago",
      "text" : "Arthropods have external skeletons, a hard structure on the outside of the body that protects and supports the animal inside."
    },

    {
      "tag" : "arachnids",
      "description" : "eight legs", 
      "clade" : "arachnids", 
      "time" : "420 million years ago",
      "text" : "Arachnids are creatures with two body segments, eight legs, and no wings or antennae."
    },

    {
      "tag" : "amniotes",
      "description" : "amniotic egg", 
      "clade" : "amniotes", 
      "time" : "312 million years ago",
      "text" : "The amniotic egg sac allows animals to reproduce on dry land. No longer tied to the sea for reproduction, the amniotes adapted to life far inland."
    },

    {
      "tag" : "diapsids",
      "description" : "lizard-like skull", 
      "clade" : "diapsids", 
      "time" : "302 million years ago",
      "text" : "Lizards, dinosaurs, snakes, and birds are all diapsids, meaning 'two arches'. The name refers to two holes on each side of the skull."
    },

    {
      "tag" : "tetrapods",
      "description" : "four-limbs", 
      "clade" : "tetrapoda", 
      "time" : "359 million years ago",
      "text" : "Tetrapod means 'four limbs'. Tetrapods evolved from lobe-finned fishes and made the transition to life on land."
    },

    {
      "tag" : "theropods",
      "description" : "wishbone", 
      "clade" :  "theropods", 
      "time" : "230 million years ago",
      "text" : "Most theropod dinosaurs walked on two feet, a trait that is rare today, except in humans. Birds inherited this trait from their dinosaur ancestors."
    },

    {
      "tag" : "vertebrates",
      "description" : "internal skeleton", 
      "clade" : "vertebrates", 
      "time" : "525 million years ago",
      "text" : "Vertebrates have a backbone, a protective bony structure that surrounds the spinal cord and supports the body."
    }
  ]
  </script>

  <script id="bat-level-data" type="application/json">
    [
      {
        "level-id" : 1,
        "title" : "Level 1",
        "subtitle" : "Plants and Animals",
        "traits" : [ "eukaryotes", "bilateria" ],
        "tips" : [
          { "tag" : "bird", "traits" : [ "eukaryotes", "bilateria" ] },
          { "tag" : "lizard", "traits" : [ "eukaryotes", "bilateria" ] },
          { "tag" : "plant", "traits" : [ "eukaryotes" ] }
        ]
      },
  
      {
        "level-id" : 2,
        "title" : "Level 2", 
        "subtitle" : "Bats, Birds, and People",
        "traits" : [ "vertebrates", "mammals" ],
        "tips" : [
          { "tag" : "human", "traits" : [ "vertebrates", "mammals" ] },
          { "tag" : "bird", "traits" : [ "vertebrates" ] },
          { "tag" : "bat", "traits" : [ "vertebrates", "mammals" ] }
        ]
      },

      {
        "level-id" : 3,
        "title" : "Level 3", 
        "subtitle" : "Arthropods",
        "traits" : [ "arthropods", "arachnids" ],
        "tips" : [
          { "tag" : "scorpion", "traits" : [ "arthropods", "arachnids" ] },
          { "tag" : "spider", "traits" : [ "arthropods", "arachnids" ] },
          { "tag" : "crab", "traits" : [ "arthropods" ] }
        ]
      },

      {
        "level-id" : 4,
        "title" : "Level 4",
        "subtitle" : "Amniotes",
        "traits" : [ "amniotes", "diapsids", "theropods" ],
        "tips" : [
          { "tag" : "bird", "traits" : [ "amniotes", "diapsids", "theropods" ] },
          { "tag" : "trex", "traits" : [ "amniotes", "diapsids", "theropods" ] },
          { "tag" : "lizard", "traits" : [ "amniotes", "diapsids" ] },
          { "tag" : "bat", "traits" : [ "amniotes" ] }
        ]
      },

      {
        "level-id" : 5,
        "title" : "Level 5",
        "subtitle" : "The funny thing about frogs...",
        "traits" : [ "amniotes", "diapsids", "theropods", "tetrapods" ],
        "tips" : [
          { "tag" : "trex", "traits" : [ "tetrapods", "amniotes", "diapsids", "theropods" ] },
          { "tag" : "frog", "traits" : [ "tetrapods" ] },
          { "tag" : "lizard", "traits" : [ "tetrapods", "amniotes", "diapsids" ] },
          { "tag" : "bird", "traits" : [ "tetrapods", "amniotes", "diapsids", "theropods" ] },
          { "tag" : "human", "traits" : [ "tetrapods", "amniotes" ] }
        ]
      },

      {
        "level-id" : 6,
        "title" : "Level 6",
        "subtitle" : "Vertebrates and Invertebrates",
        "traits" : [ "bilateria", "vertebrates", "arthropods", "mammals", "theropods" ],
        "tips" : [
          { "tag" : "butterfly", "traits" : [ "bilateria", "arthropods" ] },
          { "tag" : "trex", "traits" : [ "bilateria", "vertebrates", "tetrapods", "theropods" ] },
          { "tag" : "giraffe", "traits" : [ "bilateria", "vertebrates", "tetrapods", "mammals" ] },
          { "tag" : "bat", "traits" : [ "bilateria", "vertebrates", "tetrapods", "mammals" ] },
          { "tag" : "spider", "traits" : [ "bilateria", "arthropods" ] },
          { "tag" : "bird", "traits" : [ "bilateria", "vertebrates", "tetrapods", "theropods" ] }
        ]
      },

      {
        "level-id" : 7,
        "title" : "Level 7",
        "subtitle" : "Getting harder...",
        "traits" : [ "eukaryotes", "bilateria", "vertebrates", "arthropods", "amniotes", "diapsids" ],
        "tips" : [
          { "tag" : "frog", "traits" : [ "eukaryotes", "bilateria", "vertebrates" ] },  
          { "tag" : "bird", "traits" : [ "eukaryotes", "bilateria", "vertebrates", "amniotes", "diapsids" ] },  
          { "tag" : "bat", "traits" : [ "eukaryotes", "bilateria", "vertebrates", "amniotes" ] },  
          { "tag" : "lizard", "traits" : [ "eukaryotes", "bilateria", "vertebrates", "amniotes", "diapsids" ] },  
          { "tag" : "spider", "traits" : [ "eukaryotes", "bilateria", "arthropods" ] },  
          { "tag" : "plant", "traits" : [ "eukaryotes" ] }
        ]
      }
    ]
  </script>


  <script src="{% static 'bat2/dart/main.dart.js' %}" type="text/javascript"></script>
  
{% endblock %}