<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Tangible Interaction Design and Learning Lab at Northwestern University">
  <meta name="author" content="Michael Horn">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
    
  {% load static %}
  {% load staticfiles %}
  {% load cropping %}
  
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
  <link rel="stylesheet" href="{% static 'css/tidal-blog.css' %}">
  <link rel="stylesheet" href="{% static 'css/tidal-blog-print.css' %}" media="print">
  <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
  <script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
  
  <!-- GOOGLE ANALYTICS -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-31793954-1', 'northwestern.edu');
    ga('send', 'pageview');
  
  </script>
  
  <title>TIDAL Lab | Northwestern University</title>
</head>

<body>

  <!-- HEADER -->
  <header>
      
    <!-- NAVIGATION BAR -->
    <nav>
      <ul>
        <li><a href="{% url 'index' %}" class="wide-only">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/index#projects">Projects</a></li>
        <li><a href="/index#news">News</a></li>
        <li><a href="{% url 'people' %}">People</a></li>
        <li><a href="{% url 'publications' %}">Publications</a></li>
        <!-- <li><a href="{% url 'teaching' %}" class="wide-only">Courses</a></li> -->
        <li><a href="{% url 'contact' %}" class="wide-only">Contact</a></li>
      </ul>
    </nav>
  </header>


  <!-- SPLASH IMAGE -->
  <div id="splash">
    <div class="photo-credit">flickr: Luke Andrew Scowen. Some rights reserved.</div>
  </div>

  <!-- CONTENT -->  
  <div class="content">
    {% block primary %}{% endblock %}
  </div>     

  
  
  <!-- FOOTER -->  
  <footer>
    <div class="foot">
      
      <div class="column three">
        Copyright &copy; 2015 TIDAL Lab<br><br>
        Northwestern University<br>
        2120 Campus Drive<br>
        Evanston, Illinois 60208<br>
        <a href="mailto:michael-horn@northwestern.edu">michael-horn@northwestern.edu</a><br>
        <a href="http://tidal.northwestern.edu">http://tidal.northwestern.edu</a>
      </div>
  
      <div class="column three wide-only">
        Computer Science <br>
        McCormick School of Engineering<br>
        <a href="http://eecs.northwestern.edu">http://eecs.northwestern.edu</a><br><br>
        
        Learning Sciences <br>
        School of Education and Social Policy<br>
        <a href="http://sesp.northwestern.edu">http://sesp.northwestern.edu</a>
      </div>
      
    </div>
  </footer>

</body>
</html>
