{% load staticfiles %}
{% comment %}
load cropping 
{% endcomment %}
  
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Tangible Interaction Design and Learning Lab at Northwestern University">
  <meta name="author" content="TIDAL Lab">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/tidal.css' %}">
  <link rel="stylesheet" href="{% static 'css/tidal-print.css' %}" media="print">
  <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
  <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  
  <title>TIDAL Lab</title>
</head>

<body>

  <!-- HEADER -->
  <header>
      
    <!-- NAVIGATION BAR -->
    <nav>
      <div id="lab-name"><a href="/" class="wide-only">Tangible Interaction Design<br>and Learning Laboratory</a></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/publications">Publications</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>


  <!-- CONTENT -->  
  <div class="main">
    <div class="content">
      {% block primary %}{% endblock %}
    </div>     
  </div>
  
  
  <!-- FOOTER -->  
  <footer>
    <div class="foot">
      
      <div class="column three">
        Copyright &copy; 2015 TIDAL Lab<br><br>
        Northwestern University<br>
        2120 Campus Drive<br>
        Evanston, Illinois 60208<br>
        <a href="mailto:michael-horn@northwestern.edu">michael-horn@northwestern.edu</a><br>
        <a href="http://tidal.northwestern.edu">http://tidal.northwestern.edu</a>
      </div>
  
      <div class="column two wide-only">
        Computer Science <br>
        McCormick School of Engineering<br>
        <a href="http://eecs.northwestern.edu">http://eecs.northwestern.edu</a><br><br>
        
        Learning Sciences <br>
        School of Education and Social Policy<br>
        <a href="http://sesp.northwestern.edu">http://sesp.northwestern.edu</a>
      </div>

    </div>
  </footer>
</body>
</html>
