{% extends 'base.html' %}
{% block primary %}
{% load staticfiles %}

<div class="column one">

  <div class="column two" style="padding-right: 25px;">
    <h2>Contact Us</h2>
    <p>
      If you have any questions or comments about the TIDAL Lab please feel free to get in touch with us!
    </p>

    <p style="margin-left: 30px; margin-top: 30px;">
      Michael Horn<br>
      2120 Campus Drive<br>
      Annenberg Hall (room 222)<br>
      Northwestern University<br>
      Evanston, IL 60208 USA<br>
      <a href="mailto:michael-horn@northwestern.edu">michael-horn@northwestern.edu</a><br>
      <a href="http://twitter.com/horn_michael">@horn_michael</a><br>
      <a href="http://tidal.northwestern.edu">http://tidal.northwestern.edu</a><br><br>
    </p>
      
      
    <h2>Join Us</h2>
    <p>
      We're always on the lookout for outstanding students who are passionate
      about creating innovative learning experiences! Consider applying to
      one of the following PhD programs.
    </p>

    <ul>
      <li>
        <a href = "http://www.sesp.northwestern.edu/learning-sciences/index.html">Learning Science Admissions</a><br>
        School of Education and Social Policy (SESP)<br><br>
      </li>
            
      <li>
        <a href = "http://www.eecs.northwestern.edu/graduate-study/graduate-admissions">Computer Science Admissions</a><br>
        McCormick School of Engineering and Applied Sciences<br><br>
      </li>
        
      <li>
        <a href = "http://tsb.northwestern.edu/admissions.php">Technology and Social Behavior Admissions</a><br>
        McCormick School of Engineering and School of Communication<br><br>
      </li>
    </ul>
  </div>

  <div class="column two">
    <img src="{% static 'images/northwestern.jpg' %}" style="width: 100%; margin-top: 45px;" alt="Northwestern University">
    <img src="{% static 'images/nu-arch.jpg' %}" style="width: 100%; margin-top: 30px;" alt="Northwestern University">
  </div>
  


</div>
<br clear="all">

  <div class="column one">
    <h2>Our Location</h2>
   
   
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
$( document ).ready(function() {
var map;
function initialize() {
  var myLatlng = new google.maps.LatLng(42.056225, -87.674484);
  var mapOptions = {
    zoom: 17,
    scrollwheel: false,
    center: myLatlng

  };


  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
});
}
google.maps.event.addDomListener(window, 'load', initialize);
});
</script>


    <div id="map-canvas" style = "width:100%;height:500px;margin:20px 0px;padding:0px;"></div>
  </div>
<br clear="all">
{% endblock %}