  {% extends 'base.html' %}
{% block primary %}

  {% load static %}
  {% load staticfiles %}
<div class="container clearfix">
  
   <div class="sixteen columns"> <h1 class="page-title">Contact Us<span class="line"></span></h1>
   </div><!-- Page Title -->
   
   
   <div id="description">
      <div class="sixteen columns">
        <div class="description top-3 bottom-2">
        <p>
          If you have any questions or comments about TIDAL Lab please feel free to get in touch with us! Thank you.
        </p>
        </div>
      </div>
    </div><!-- End description -->
   
  
   
   <!-- End -->
   
   
   <!-- Start Contact Form -->
   <div class="eight columns  bottom">    
      
      <h2 class="title">Contact Details<span class="line"></span></h4>
      
       
       <ul class="details top-3 bottom-2">
        <li><span class = "user icon"></span><p>Michael Horn<p></li>
        <li><span class="google_maps icon black"></span><p>2120 Campus Drive</br>
        Annenberg Hall (room 222)</br>
        Northwestern University</br>
        Evanston, IL 60208</br><p></li>

        <li><span class="e-mail icon black"></span><p>michael-horn (at) northwestern (dot) edu</br></p>

        <li><span class="globe icon black"></span><p><a href ="http://tidal.sesp.northwestern.edu">http://tidal.northwestern.edu</a></p></li>
      </ul>
      
   </div><!-- End column -->  
   
      <div class="eight columns  bottom">    
      
      <h2 class="title">Join Us<span class="line"></span></h4>
      
       
       <ul class="details top-3 bottom-2">
        <li>
          <a href = "http://www.sesp.northwestern.edu/learning-sciences/index.html">Learning Science Admissions</a><br>
          School of Education and Social Policy (SESP)
        </li>
        <li>
          <a href = "http://www.eecs.northwestern.edu/graduate-study/graduate-admissions">Computer Science Admissions</a><br>
          McCormick School of Engineering and Applied Sciences
        </li>
        <li>
          <a href = "http://tsb.northwestern.edu/admissions.php">Technology and Social Behavior Admissions</a><br>
        </li>
      </ul>
      
   </div><!-- End column --> 

      <div class="sixteen columns"> <h2 class="title">Our Location<span class="line"></span></h2></div>
   
   <!-- google map -->
   
   <div class="sixteen columns google-map top-2">
   
    <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x880fda9e4733dec1%3A0x33c244936e1a6c33!2sWalter+Anneberg+Hall%2C+Evanston%2C+IL+60208!5e0!3m2!1sen!2sus!4v1388370423281" width="800" height="600" frameborder="0" style="border:0"></iframe>
   
   </div>
   
   <div class="clearfix"></div>
   
   
   
       
     
  </div><!-- <<< End Container >>> -->
      {% endblock %}