<!DOCTYPE html>

<html>
<head>
   <title>Green Home Games: Turn Up the Heat!</title>
   <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
   
<style>
@page {
   size: 8.5in 11in;
   margin: 0.5in 0in 0.5in 0in;
   padding: 0;
}
   
body {
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   font-size: 11pt;
   padding: 0 0.5in 0 0.5in;
   margin: 0;
   text-align: justify;
   background-color: #eee;
}

div.content {
  width: 850px;
  margin: 10px auto;
  padding: 20px;
  color: black;
  line-height: 123%;
  background-color: white;
}

h1 {
   font-size: 24pt;
   margin-bottom: 20pt;
   padding: 0px;
}

b {
   font-weight: 700;
}

p {
   margin-bottom: 12pt;
   margin-top: 0pt;
   line-height: 140%;
}

li {
  margin-bottom: 3pt;
  margin-left: -0.25in;
}

</style>
</head>

<body>
  <div class="content">
    <img src="/static/images/greenhomegames/board-cards.png" style="float: right; width: 450px; margin-top: 20px;" alt="Game board and cards">
    <h1>Turn Up the Heat!</h1>
    <p>
      Turn Up the Heat is an interactive board game for the entire family.
      See if your family can survive for a year with limited resources and
      unforseen events that can stretch you thin.
    </p>
    <p>
      Turn Up the Heat is the world's first thermostat board game. Why play a
      game about thermostats? Because it's fun! Not to mention thermostats are
      widely misunderstood, poorly used, and account for a huge portion of our
      nation's energy consumption. To win the game you will need 
      to make careful tradeoffs around comfort, money, and the environment.
    </p>
    <img src="/static/images/greenhomegames/ipad.png" style="width: 370px; margin-bottom: 20px;" alt="iPad screenshot">

    <br>
    <br>
    <br>
    <div style="border-bottom: 1px solid black;"></div>


    
    <!-- GET THE GAME -->      
    <div style="float: left; width: 330px;">
      <h1>Get the Game</h1>
      <p>
        Download and print out the game elements:
      </p>
      <ul>
         <li><a href="/static/pdf/greenhomegames/rules.pdf" target="_blank">Game Rules</a></li>
         <li><a href="/static/pdf/greenhomegames/resources.pdf" target="_blank">Resource Cards</a> (27 cards)</li>
         <li><a href="/static/pdf/greenhomegames/events.pdf" target="_blank">Event Cards</a> (18 cards)</li>
         <li><a href="/static/pdf/greenhomegames/characters.pdf" target="_blank">Player Cards</a> (5 cards)</li>
         <li><a href="/static/pdf/greenhomegames/gameboard.pdf" target="_blank">Gameboard</a></li>
         <li><a href="/static/pdf/greenhomegames/money.pdf" target="_blank">Play Money</a> ($100s, $50s, $20s, $10s, and $5s)</li>
      </ul>
      <p>
        You'll also need a die and a player token.<br>
        <img src="/static/images/greenhomegames/red-die.png" style="height: 75px; margin: 5px 5px 5px 15px;" alt="Die">
        <img src="/static/images/greenhomegames/token.png" style="height: 100px; margin: 5px 5px 5px 15px;" alt="Token">
      </p>
    </div>
    
    
    <!-- GET THE APP -->
    <div style="float: right; width: 430px;">
      <h1>Play the Game</h1>
      <p>
        When you're ready to play, open the <a href="http://litl.sesp.northwestern.edu/ghg/" target="_blank">Turn Up the Heat App</a>!
      </p>
      <a href="http://litl.sesp.northwestern.edu/ghg/" target="_blank">
      <img src="/static/images/greenhomegames/play.png" style="margin-left: 90px; margin-top: 10px; width: 150px;" alt="App Link" target="_blank"></a>
    </div>
    <br clear="all">
    <br>

    
    <div style="border-bottom: 1px solid black;"></div>

    
    <!-- ABOUT US -->
    <h1>About Us</h1>
    <p>
      Turn Up the Heat was produced at Northwestern University by the <a href="http://tidal.northwestern.edu">Tangible
      Interaction Design and Learning</a> (TIDAL) Lab and the Learning, Interaction,
      and Media in the Everyday (LIME) Lab.<br>
      <img src="/static/images/greenhomegames/tidal.png" style="margin-left: 85px; margin-top: 10px; height: 60px;" alt="TIDAL Lab">
      <img src="/static/images/greenhomegames/lime.png" style="height: 60px; margin-top: 10px;" alt="LIME Lab">
    </p>
    <p>
      <b>Game Design:</b> Michael Horn, Reed Stevens, Amartya Banerjee, Pei-Yi Kuo,
      Laurel Schrementi, Sarah D'Angelo, Harmon Pollock, and Andreas Wadum.
    </p>
    <p>
      <b>Software:</b> Michael Horn and Amartya Banerjee
    </p>
    <p>
      <b>Graphic Design:</b> Maisa Morin (maisamorin.com) and Michael Horn
    </p>
    <p>
      <b>Funding:</b> This work was supported by the National Science Foundation
      under grant IIS-1123574. Any opinions or recommendations expressed in this
      material are those of the author(s) and do not necessarily reflect the views
      of the NSF. Seed funding was also provided by the Institute for Sustainability
      and Energy at Northwestern.
      <br>
      <br>
    </p>

    <div style="width: 100%;">
      <img src="/static/images/greenhomegames/logo.png" style="margin-left: 370px; margin-top: 40px; width: 1in;" alt="Green Home Games">
    </div>
    <p style="font-size: 9pt; position: relative; bottom: -15px; text-align: center;">
      Copyright &copy; Michael Horn and Reed Stevens. All rights reserved.
    </p>
</div>
<br>
<br>
<br>
<br>
</body>
</html>
