{% extends 'base-mini.html' %}
{% block primary %}

  {% load static %}
  {% load staticfiles %}


    <div class="column two">
      <h1>Turn Up the Heat!</h1>
      <p>
        Turn Up the Heat is an interactive board game for the entire family.
        See if your family can survive for a year with limited resources and
        unforseen events that can stretch you thin.
      </p>
      <p>
        Turn Up the Heat is the world's first thermostat board game. Why play a
        game about thermostats? Because it's fun! Not to mention thermostats are
        widely misunderstood, poorly used, and account for a huge portion of our
        nation's energy consumption. To win the game you will need 
        to make careful tradeoffs around comfort, money, and the environment.
      </p>

      <img src="{% static 'images/greenhomegames/ipad.png' %}" style="width: 75%; margin-bottom: 20px;" alt="iPad screenshot">
    </div>


    <div class="column two">
      <img src="{% static 'images/greenhomegames/board-cards.png' %}" style="float: right; width: 100%;" alt="Game board and cards">
    </div>    


    <div class="separator"></div>

    
    <!-- GET THE GAME -->
    <div class="column two">
      <h1>Get the Game</h1>
      <p>
        Download and print out the game elements:
      </p>
      <ul>
         <li><a href="{% static 'pdf/greenhomegames/rules.pdf' %}" target="_blank">Game Rules</a></li>
         <li><a href="{% static 'pdf/greenhomegames/resources.pdf' %}" target="_blank">Resource Cards</a> (27 cards)</li>
         <li><a href="{% static 'pdf/greenhomegames/events.pdf' %}" target="_blank">Event Cards</a> (18 cards)</li>
         <li><a href="{% static 'pdf/greenhomegames/characters.pdf' %}" target="_blank">Player Cards</a> (5 cards)</li>
         <li><a href="{% static 'pdf/greenhomegames/gameboard.pdf' %}" target="_blank">Gameboard</a></li>
         <li><a href="{% static 'pdf/greenhomegames/money.pdf' %}" target="_blank">Play Money</a> ($100s, $50s, $20s, $10s, and $5s)</li>
      </ul>
      <p>
        You'll also need a die and a player token.<br>
        <img src="{% static 'images/greenhomegames/red-die.png' %}" style="height: 75px; margin: 5px 5px 5px 15px;" alt="Die">
        <img src="{% static 'images/greenhomegames/token.png' %}" style="height: 100px; margin: 5px 5px 5px 15px;" alt="Token">
      </p>
    </div>
    
    
    <!-- GET THE APP -->
    <div class="column two">
      <h1>Play the Game</h1>
      <p>
        When you're ready to play, open the <a href="http://litl.sesp.northwestern.edu/ghg/" target="_blank">Turn Up the Heat App</a>!
      </p>
      <a href="http://litl.sesp.northwestern.edu/ghg/" target="_blank">
      <img src="{% static 'images/greenhomegames/play.png' %}" style="margin-left: 90px; margin-top: 10px; width: 150px;" alt="App Link" target="_blank"></a>
    </div>
    

    <div class="separator"></div>

    <h1>Game Play Video</h1>
    <iframe width="560" height="315" src="//www.youtube.com/embed/h9ImU9uX9AU" frameborder="0" allowfullscreen style="margin: 50px 0px; width: 90%; max-width: 560px;"></iframe>

    <div class="separator"></div>

    
    <!-- ABOUT US -->
    <div class="column one">
      <h1>About Us</h1>
      <p>
        Turn Up the Heat was produced at Northwestern University by the <a href="http://tidal.northwestern.edu">Tangible
        Interaction Design and Learning</a> (TIDAL) Lab and the Learning, Interaction,
        and Media in the Everyday (LIME) Lab.<br>
        <img src="{% static 'images/greenhomegames/tidal.png' %}" style="margin-left: 20px; margin-top: 10px; height: 60px;" alt="TIDAL Lab">
        <img src="{% static 'images/greenhomegames/lime.png' %}" style="height: 60px; margin-top: 10px;" alt="LIME Lab">
      </p>
      <p>
        <b>Game Design:</b> Michael Horn, Reed Stevens, Amartya Banerjee, Pei-Yi Kuo,
        Laurel Schrementi, Sarah D'Angelo, Harmon Pollock, and Andreas Wadum.
      </p>
      <p>
        <b>Software:</b> Michael Horn and Amartya Banerjee
      </p>
      <p>
        <b>Graphic Design:</b> Maisa Morin (maisamorin.com) and Michael Horn
      </p>
      <p>
        <b>Funding:</b> This work was supported by the National Science Foundation
        under grant IIS-1123574. Any opinions or recommendations expressed in this
        material are those of the author(s) and do not necessarily reflect the views
        of the NSF. Seed funding was also provided by the Institute for Sustainability
        and Energy at Northwestern.
        <br>
        <br>
      </p>
    </div>


    <div class="column one" style="text-align: center;">
      <img src="{% static 'images/greenhomegames/logo.png' %}" style="margin-top: 40px; width: 1in;" alt="Green Home Games"><br>
      <p style="font-size: 9pt; position: relative; bottom: -15px; text-align: center;">
        Copyright &copy; Michael Horn and Reed Stevens. All rights reserved.
      </p>
    </div>

<br>
<br>
  
{% endblock %}