{% extends 'base.html' %}
{% block primary %}

  {% load static %}
  {% load staticfiles %}
  {% load cropping %}

  
  <!-- Image carousel -->  
  <div id="slider">
    <div class="container clearfix">
    
      <div class="sixteen columns">
      
        <div class="flex-container">

          <div class="flexslider">
            <ul class="slides">
            {% for image in frontimages %}
        
              <li style = "float:center">
              <img src="{% cropped_thumbnail image "cropping" scale=1.0 %}">
              {% if image.description != "" %}
              <p class="flex-caption"> <span>{{name}}</span> {{image.description|safe}}</p>
              {% endif %}
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div><!-- End Container -->
  </div><!-- End Slider -->
  
  
  <div class="container clearfix">

  
    <!-- WELCOME MESSAGE -->  
    <div id="welcome">
      <div class="sixteen columns">
        <div class="qoute">
            {% for front in frontPageBlurb %}
            
            <!-- <h2>{{front.title|safe}}</h2> -->
            <p style="width: 100%; color: #666; font-size: 16px;">{{front.description|safe}}</p>

            {% endfor %}
        </div>
      </div>
    </div><!-- End Welcome -->
  
    
    <div class="recent-work gallery clearfix">
    
      <div class="slidewrap" >
    
      <div class="sixteen columns">
        <h2 class="title">Current Projects <span class="line"></span></h2>
      </div>
      
      <ul class="slider" id="sliderName">
      
      <li class="slide">	
      
    {% for project in projects|slice:":10" %}
      <!-- item 1 -->
      {% if forloop.counter < 11 %}
      <div class="one-fifth column item element-3" data-categories="{% for tag in project.tags.all %} {{tag.slug}} {% endfor %}">
        {% if project.website != '' %}
          <a href="{{project.website}}">
        {% else %}
          <a href="{{project.get_absolute_url}}">
        {% endif %}
          <img src="{% cropped_thumbnail project "cropping" scale=1.0 %}" class="pic"></a>
          <h4><a href="{{project.get_absolute_url}}">{{project.name}}</a></h4>
      </div>
      {% endif %}
      <!-- End -->
      {% endfor %}  
      
      </li><!-- End slide -->
      
      </ul>
      
      </div><!-- End slidewrap -->
    
    </div><!-- End recent-work -->
    
    
    <div class="container">
      
      
    <div class = "eleven columns">
      <h2>Links<span class = "line"></span></h2>
    </div>
    
    
    <div class = "five columns">
      <h2>News<span class = "line"></span></h2></br>
    </div>
    

    <div class = "eleven columns">

        <div id="accordion">
        <h3><a href="#">Related Labs</a></h3>
          <div>
            <div class = "choose">
              <ul>
                {% for lab in labs %}
                <li><a href = "{{lab.url}}">{{lab.name}} at {{lab.institution}}</a></li>
                {% endfor %}
                {% for oustideLab in oustideLabs %}
                <li><a href = "{{oustideLab.url}}">{{oustideLab.name}} at {{outsideLab.institution}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        
       <h3><a href="#">External Partners</a></h3>
        <div>
          <div class = "choose">
            <ul>
              {% for org in orgs %}
              <li><a href = "{{org.url}}">{{org.name}} in {{org.institution}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>


          <h3><a href="#">Assoc. Departments</a></h3>
          <div>
            <div class = "choose">
              <ul>
                {% for dept in depts %}
                <li><a href = "{{dept.url}}">{{dept.name}} at {{dept.institution}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>


    </div>
  </div>
    
    <div class = "five columns">

      {% for post in posts|slice:":3" %}

      <h3 class=""><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
      <p>{{post.description}}</p>

      {% endfor %}
    </div>
</div>








    </div>


     
  </div><!-- <<< End Container >>> -->
{% endblock %}
