{% extends 'base-mini.html' %}
{% block primary %}

  {% load static %}
  {% load staticfiles %}
  {% load cropping %}
  
  <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  
  
  <!-- SPLASH IMAGES -->
  <div class="column one" style="margin-bottom: 20px;">
    <ul class="bxslider">
      {% for image in frontimages %}
      <li>
        <img src="{% cropped_thumbnail image "cropping" scale=1.0 %}" title="{{image.description|safe}}">
      </li>
      {% endfor %}
    </ul>
      
    <p id="welcome" style="padding-top: 30px;">
      The TIDAL Lab is a team of designers, artists, learning scientists, and
      computer scientists at Northwestern University. Our research creates
      innovative learning experiences using new forms of technology.
      We take a cautious but optimistic stance towards technology that tightly
      couples learning, research, and design.
    </p>
  </div>


  <!-- PROJECTS -->    
  <div class="column one">
    <h3 class="title">Current Projects</h3>
    {% for project in projects %}
      {% if forloop.counter < 11 %}
      <div class="column five" style="padding: 6px;">
        <a href="{{project.website}}"><img src="{% cropped_thumbnail project "cropping" scale=1.0 %}" class="pic" style="width: 100%; max-width: 172px;"></a>
        <h4 style="margin: 0 0 10px 0; text-align: left;"><a href="{{project.website}}">{{project.name}}</a></h4>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  
  

  <!-- NEWS -->    
  <div class="column one">
    <h3 class="title">Recent News</h3>
    
    <div style="width: 100%;">
    {% for post in posts %}
      <div class="column three news-post">
        <div class="news-title">
          {% if post.weblink == "" %}{{post.title}}{% else %}<a href="{{post.weblink}}" target="_blank">{{post.title}}</a>{% endif %}
        </div>
        <div class="news-content">
          <span class="news-date">{{post.pubdate|date:"F Y"}}</span> &mdash;
          {{post.content}}
          {% if post.weblink != "" %}
          <div class="news-more">
            <a href="{{post.weblink}}">Read More</a>
          </div>
          {% endif %}
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
    </div>
    <div style="width: 100%;">
      {% endif %}
    {% endfor %}
    </div>
  </div>

  
  <!-- AFFILIATED RESEARCH LABS -->
  <style>

  </style>
  <div class="column one">
    <h3 class="title">Affiliated Research Labs</h3>
    <div class="column two affiliated">
      <img src="{% static 'images/collaborators/ccl.png' %}" style="float: left; height: 60px; opacity: 0.6;">
      Center for Connected Learning and Computer-Based Modeling (CCL)<br>
      <a href="http://ccl.northwestern.edu">http://ccl.northwestern.edu</a>
    </div>
    <div class="column two affiliated">
      <img src="{% static 'images/collaborators/sdr.png' %}" style="float: left; height: 60px; opacity: 0.6;">
      Scientists' Discovery Room (SDR) Lab<br>
      Harvard University<br>
      <a href="http://sdr.seas.harvard.edu">http://sdr.seas.harvard.edu</a>
    </div>
    <div class="column two affiliated">
      <img src="{% static 'images/collaborators/lime.png' %}" style="float: left; height: 60px;">
      Learning, Interaction, and Media in the Everyday (LIME) Lab<br>
      Northwestern University
    </div>
    <div class="column two affiliated">
      <img src="{% static 'images/collaborators/collab.png' %}" style="float: left; height: 60px; opacity: 0.6;">
      The Collaborative Technology Laboratory (CollabLab)<br>
      Northwestern University<br>
      <a href="http://collablab.northwestern.edu">http://collablab.northwestern.edu</a>
    </div>
    <div class="column two affiliated">
      <img src="{% static 'images/collaborators/delta.png' %}" style="float: left; height: 60px; opacity: 0.4;">
      Delta Lab<br>
      Northwestern University<br>
      <a href="http://delta.northwestern.edu">http://delta.northwestern.edu</a>
    </div>
    <div class="column two affiliated">
      <img src="{% static 'images/collaborators/osep.png' %}" style="float: left; height: 60px; opacity: 0.6;">
      Office of STEM Education Partnerships (OSEP)<br>
      Northwestern University<br>
      <a href="http://osep.northwestern.edu">http://osep.northwestern.edu</a>
    </div>
  </div>      
    
  
  
  <!-- MUSEUM COLLABORATORS -->
  <div class="column one">
    <h3 class="title">Museum Collaborators</h3>
    <div style="text-align: center;">
      <a href="http://www.fieldmuseum.org"><img src="{% static 'images/collaborators/field.png' %}" style="height: 70px;"></a>
      <a href="http://www.calacademy.org"><img src="{% static 'images/collaborators/cas.png' %}" style="height: 70px;"></a>
      <a href="http://www.computerhistory.org"><img src="{% static 'images/collaborators/chm.png' %}" style="height: 70px;"></a>
      <a href="http://hmnh.harvard.edu"><img src="{% static 'images/collaborators/hmnh.png' %}" style="height: 70px;"></a>
      <a href="http://museum.unl.edu"><img src="{% static 'images/collaborators/unl.png' %}" style="height: 70px;"></a>
      <a href="http://mos.org"><img src="{% static 'images/collaborators/mos.png' %}" style="height: 70px;"></a>
    </div>
  </div>      

  <div class="column one" style="height: 40px;"></div>
  
  <script>
    $(document).ready(function(){
      $('.bxslider').bxSlider({
        captions : true,
        minSlides : 1,
        maxSlides : 1,
        slideMargin: 0,
        auto: true,
        speed: 1000,
        pause: 6000
      });
    });
  </script>
  

{% endblock %}
