{% extends 'base.html' %}
{% block primary %}

  {% load static %}
  {% load staticfiles %}
  {% load cropping %}


  
  <!-- SPLASH IMAGES -->  
  <div id="slider">
    <div class="container clearfix">
      <div class="sixteen columns">
        <div class="flex-container">
          <div class="flexslider">
            <ul class="slides">
              {% for image in frontimages %}
              <li style = "float:center">
                <img src="{% cropped_thumbnail image "cropping" scale=1.0 %}">
                {% if image.description != "" %}
                <p class="flex-caption"> <span>{{name}}</span> {{image.description|safe}}</p>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <!-- WELCOME MESSAGE -->  
  <div class="container clearfix">
    <div id="welcome">
      <div class="sixteen columns">
        <div class="qoute">
          {% for front in frontPageBlurb %}
          <p style="width: 100%; color: #666; font-size: 16px;">{{front.description|safe}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  


  <!-- PROJECTS -->    
  <div class="container clearfix">
    <div class="sixteen columns">
      <h2 class="title">Current Projects <span class="line"></span></h2>
    </div>
      
    <div class="recent-work gallery clearfix">
      <div class="slidewrap" >
        <ul class="slider" id="sliderName">
          <li class="slide">	
          {% for project in projects|slice:":10" %}
            {% if forloop.counter < 11 %}
              <div class="one-fifth column item element-3" data-categories="{% for tag in project.tags.all %} {{tag.slug}} {% endfor %}">
                {% if project.website != '' %}
                <a href="{{project.website}}">
                {% else %}
                <a href="{{project.get_absolute_url}}">
                {% endif %}
                <img src="{% cropped_thumbnail project "cropping" scale=1.0 %}" class="pic"></a>
                {% if project.website != '' %}
                <h4><a href="{{project.website}}">{{project.name}}</a></h4>
                {% else %}
                <h4><a href="{{project.get_absolute_url}}">{{project.name}}</a></h4>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}  
          </li>
        </ul>
      </div><!-- End slidewrap -->
    </div><!-- End recent-work -->
  </div>


  <!-- NEWS -->    
  <div class="container clearfix">
    <div class="sixteen columns">
      <h2 class="title">Recent News<span class="line"></span></h2>
    </div>
    
    <div class="sixteen columns">
      {% for post in posts|slice:":5" %}
        {% if post.weblink == "" %}
      <h4><a href="{{post.get_absolute_url}}">{{post.title}}</a></h4>
        {% else %}
      <h4><a href="{{post.weblink}}">{{post.title}}</a></h4>
        {% endif %}
      <p class="post-date">{{post.pubdate|date:"F Y"}}</p>
      <p style="margin-left: 15px; margin-bottom: 10px;">{{post.description}}</p>
      {% endfor %}
    </div>
  </div>

  
  <!-- AFFILIATED RESEARCH LABS -->  
  <div class="container clearfix" style="margin-top: 40px;">
    <div class="sixteen columns">
      <h2 class="title">Affiliated Research Labs<span class="line"></span></h2><br>
    </div>
 
    <div class="eight columns affiliated">
        <div>
          <img src="{% static 'images/collaborators/ccl.png' %}" style="float: left; height: 60px; opacity: 0.6;">
          Center for Connected Learning and Computer-Based Modeling (CCL)<br>
          <a href="http://ccl.northwestern.edu">http://ccl.northwestern.edu</a>
        </div>
        <div>
          <img src="{% static 'images/collaborators/sdr.png' %}" style="float: left; height: 60px; opacity: 0.6;">
          Scientists' Discovery Room (SDR) Lab<br>
          Harvard University<br>
          <a href="http://sdr.seas.harvard.edu">http://sdr.seas.harvard.edu</a>
        </div>
        <div>
          <img src="{% static 'images/collaborators/lime.png' %}" style="float: left; height: 60px;">
          Learning, Interaction, and Media in the Everyday (LIME) Lab<br>
          Northwestern University
        </div>
    </div>
    
    <div class="eight columns affiliated">
        <div>
          <img src="{% static 'images/collaborators/collab.png' %}" style="float: left; height: 60px; opacity: 0.6;">
          The Collaborative Technology Laboratory (CollabLab)<br>
          Northwestern University<br>
          <a href="http://collablab.northwestern.edu">http://collablab.northwestern.edu</a>
        </div>
        <div>
          <img src="{% static 'images/collaborators/delta.png' %}" style="float: left; height: 60px; opacity: 0.4;">
          Delta Lab<br>
          Northwestern University<br>
          <a href="http://delta.northwestern.edu">http://delta.northwestern.edu</a>
        </div>
        <div>
          <img src="{% static 'images/collaborators/osep.png' %}" style="float: left; height: 60px; opacity: 0.6;">
          Office of STEM Education Partnerships (OSEP)<br>
          Northwestern University<br>
          <a href="http://osep.northwestern.edu">http://osep.northwestern.edu</a>
        </div>
    </div>
  </div>      
    
  
  
  <!-- MUSEUM COLLABORATORS -->
  <div class="container clearfix" style="margin-top: 40px;">
    <div class="sixteen columns">
      <h2 class="title">Museum Collaborators<span class="line"></span></h2><br>
    </div>
 
    <div class="sixteen columns">
      <a href="http://www.fieldmuseum.org"><img src="{% static 'images/collaborators/field.png' %}" style="height: 80px;"></a>
      <a href="http://www.calacademy.org"><img src="{% static 'images/collaborators/cas.png' %}" style="height: 80px;"></a>
      <a href="http://www.computerhistory.org"><img src="{% static 'images/collaborators/chm.png' %}" style="height: 80px;"></a>
      <a href="http://hmnh.harvard.edu"><img src="{% static 'images/collaborators/hmnh.png' %}" style="height: 80px;"></a>
      <a href="http://museum.unl.edu"><img src="{% static 'images/collaborators/unl.png' %}" style="height: 80px;"></a>
      <a href="http://mos.org"><img src="{% static 'images/collaborators/mos.png' %}" style="height: 80px;"></a>
    </div>
  </div>      



{% endblock %}
