{% extends 'base.html' %}
{% block primary %}

  {% load static %}
  {% load staticfiles %}
  
  <div class="column one" style="margin: 5px 0;">
    <h1>Publications</h1>
    
    <div style="width: 90%; padding-left: 0.4in;">
    {% block content %}
  
      {% for pub in pubs %}
              
        {% ifchanged pub.year %}
        <h3>{{pub.year}}</h3>
        {% endifchanged %}
  
        {% if pub.award != '' and pub.award != None %}
        <img src="{% static 'images/icons/award_small.png' %}" style="width: 30px; height: 30px; opacity: 0.2; position: relative; left: -40px; float: left;" alt="{{pub.award}}">
        {% endif %}
        <p class="publication">
          
        <span class="pub-authors">{{pub.authors}}</span>
        (<span class="pub-year">{{pub.year}}</span>).
        {% if pub.localCopy != ''%}
        <a href = "{{pub.localCopy.url}}"><span class="pub-title">{{pub.title}}</span>.</a>
        {% elif pub.weblink != '' and pub.weblink != None %}
        <a href = "{{pub.weblink}}"><span class="pub-title">{{pub.title}}</span>.</a>
        {% else %}
        <span class="pub-title">{{pub.title}}</span>.
        {% endif %}
        {% if pub.pages != '' %}
        <i><span class="pub-journal">{{pub.journal}}</span></i>, <span class="pub-pages">{{pub.pages}}</span>.
        {% else %}
        <i><span class="pub-journal">{{pub.journal}}</span></i>.
        {% endif %}
        {% if pub.award != '' and pub.award != None %}
        <br><b><span class="pub-award">{{pub.award}}</span></b>
        {% endif %}
        </p>
      {% endfor %} 
    {% endblock %}
    </div>  
  </div> 
  <br clear="all">
  
{% endblock %}
