{% extends 'base.html' %}
{% block primary %}
{% load staticfiles %}
  
  <div class="column one" style="margin: 5px 0;">
    <h1 class="title">Publications</h1>
    
    <div class="publication-list">
    {% block content %}
      {% for pub in pubs %}
              
        {% ifchanged pub.year %}
        <h2>{{pub.year}}</h2>
        {% endifchanged %}
  
        {% if pub.award != '' and pub.award != None %}
        <img src="{% static 'images/award_small.png' %}" style="width: 30px; height: 30px; opacity: 0.2; position: relative; left: -40px; float: left;" alt="{{pub.award}}">
        {% endif %}
        <p class="publication">
        {{pub.authors}}
        ({{pub.year}}).
        {% if pub.localCopy != ''%}
        <a href="{{pub.localCopy.url}}">{{pub.title}}.</a>
        {% elif pub.weblink != '' and pub.weblink != None %}
        <a href="{{pub.weblink}}">{{pub.title}}.</a>
        {% else %}
        {{pub.title}}.
        {% endif %}
        {% if pub.pages != '' %}
        <i>{{pub.journal}}</i>, {{pub.pages}}.
        {% else %}
        <i>{{pub.journal}}</i>.
        {% endif %}
        {% if pub.award != '' and pub.award != None %}
        <br><b>{{pub.award}}</b>
        {% endif %}
        </p>
      {% endfor %} 
    {% endblock %}
    </div>  
  </div> 
  <br clear="all">
  
{% endblock %}
