/*
 * Build-a-Tree (bat2)
 *
 * Michael S. Horn
 * Northwestern University
 * michael-horn@northwestern.edu
 * Copyright 2015, Michael S. Horn
 *
 * This project was funded in part by the National Science Foundation.
 * Any opinions, findings and conclusions or recommendations expressed in this
 * material are those of the author(s) and do not necessarily reflect the views
 * of the National Science Foundation (NSF).
 */

.bat-game-container {
  background-image: url('../images/texture.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 850px;
  height: 500px;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 3px 3px 8px #333;
}


#bat-level-title {
  color: white;
  font-family: 'Wendy One', 'Nunito', sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 1px black;
  padding: 16px 0 0 22px;
  margin: 0;
  display: block;
  text-align: left;
  width: 100%;
  opacity: 0.9;
}


#game {
  position: absolute;
  top: 0px;
  left: 0px;
}


.bat-button-bar {
  position: absolute;
  top: 20px;
  right: 7px;
  width: 70px;
  height: auto;
}


/*
 * BUTTONS 
 */

.bat-round-button {
  outline: none;
  border: none;
  position: relative;
  top: 0px;
  left: 0px;
  width: 53px;
  height: 53px;
  background-color: #fec441;
  border: 2px solid black;
  border-radius: 45px;
  font-family: 'Wendy One', sans-serif;
  font-weight: 400;
  font-size: 22pt;
  color: black;
  text-shadow: none;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 3px 0 0 0;
  margin: 0px 5px 12px 5px;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1;
}

.bat-round-button:active { top: 3px; left: 3px; }

.bat-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  left: auto;
}

.bat-close-button:active { top: 13px; right: 7px; left: auto; }


/*
 * DIALOGS
 */
#bat-overlay {
  width: 100%;
  height: 100%;
  background-image: url('../images/texture.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}


.bat-dialog {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-shadow: 1px 1px 0px black;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 20px auto;
  position: relative;
  display: none;
  padding: 30px;
  color: #ddd;
  line-height: 120%;
}

.bat-dialog h2 {
  font-family: 'Wendy One', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 20pt;
}

.bat-dialog a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.bat-dialog a:hover {
  text-decoration: underline;
  color: white;
}

#bat-credits {
  font-size: 10pt;
  color: #bbb;
}  

#bat-levels li {
  padding-bottom: 10px;
}


#bat-cleared {
  margin-top: 50px;
  width: 350px;
  height: 380px;
  text-align: center;
}


/*
 * HELP DIALOG
 */
  #bat-help {
    height: 95%;
  }

  #bat-help-text {
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
  }

  #bat-help-image {
    width: 450px; 
    height: 270px; 
    vertical-align: bottom; 
    text-align: center; 
    background-image: url('../images/info/spider/base.png'); 
    background-size: cover;
    background-position: center center;
    box-shadow: 3px 3px 5px black;
  }

  #bat-help-license {
    text-shadow: 1px 1px 1px black; 
    font-family: sans-serif; 
    font-size: 10pt; 
  }

  .bat-help-trait-box {
    padding: 15px; 
    vertical-align: top; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    box-shadow: inset 2px 2px 3px black;
    font-size: 16px;
  }


  #bat-help-traits {
    list-style-type: none;
    padding: 0 0 0 15px;
    font-size: 16px;
  }

  #bat-help-name {
    color: orange;
    cursor: pointer;
  }

  a.bat-help-trait-link {
    cursor: pointer;
    text-decoration: none;
    line-height: 170%;
    color: orange;
  }

  a.bat-help-trait-link:hover { text-decoration: underline; }
  a.bat-help-trait-link:active { color: #59f; }

  .bat-help-trait-bullet {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 9px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 4px;
    box-shadow: 1px 1px 2px black;
  }

/*
 * ICOMOON 
 */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?nxqvqm');
  src:url('../fonts/icomoon.eot?#iefixnxqvqm') format('embedded-opentype'),
    url('../fonts/icomoon.woff?nxqvqm') format('woff'),
    url('../fonts/icomoon.ttf?nxqvqm') format('truetype'),
    url('../fonts/icomoon.svg?nxqvqm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-home:before {
  content: "\e601";
}
.icon-home2:before {
  content: "\e600";
}
.icon-stopwatch:before {
  content: "\e63d";
}
.icon-settings:before {
  content: "\e60c";
}
.icon-cog:before {
  content: "\e60d";
}
.icon-cog2:before {
  content: "\e60e";
}
.icon-trophy:before {
  content: "\e60f";
}
.icon-list:before {
  content: "\e612";
}
.icon-menu:before {
  content: "\e613";
}
.icon-flag:before {
  content: "\e614";
}
.icon-star:before {
  content: "\e615";
}
.icon-star2:before {
  content: "\e616";
}
.icon-star3:before {
  content: "\e617";
}
.icon-heart:before {
  content: "\e618";
}
.icon-heart2:before {
  content: "\e619";
}
.icon-question:before {
  content: "\e61b";
}
.icon-info:before {
  content: "\e61c";
}
.icon-info2:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e61e";
}
.icon-checkmark:before {
  content: "\e61f";
}
.icon-checkmark2:before {
  content: "\e64d";
}
.icon-minus:before {
  content: "\e620";
}
.icon-plus:before {
  content: "\e621";
}
.icon-play:before {
  content: "\e622";
}
.icon-pause:before {
  content: "\e623";
}
.icon-spinner:before {
  content: "\e604";
}
.icon-spinner2:before {
  content: "\e605";
}
.icon-volume-high:before {
  content: "\e624";
}
.icon-volume-medium:before {
  content: "\e625";
}
.icon-volume-low:before {
  content: "\e626";
}
.icon-volume-mute:before {
  content: "\e627";
}
.icon-volume-mute2:before {
  content: "\e628";
}
.icon-loop:before {
  content: "\e64e";
}

