{% extends 'base.html' %}
{% block primary %}

  {% load static %}
  {% load cropping %}
  {% load staticfiles %}

<div class="container clearfix">
  
  <div class="sixteen columns">
    <h1 class="page-title">Current Projects<span class="line"></span></h1>
  </div>
  
  
  <!-- TAG LIST --> 
  <div class="sixteen columns">  
    <div class="title clearfix" id="options">
      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li><a href="#filter" data-option-value="*" class="selected">all</a></li>
        {% for tag in tags %}
        <li><a href="#filter" data-option-value=".{{tag.slug}}">{{tag.word}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
    
  <!-- PORTFOLIO -->  
  <div class="portfolio sixteen columns">
    <div class="gallery" id="contain"> 

      {% for project in curProjects %}
      <div class="sixteen columns item {% for tag in project.tags.all %} {{tag.slug}} {% endfor %}" data-categories="{% for tag in project.tags.all %} {{tag.slug}} {% endfor %}" style="min-height: 0px;">
        <div style="text-align: left;">
          {% if project.videoURL != '' %}
          <div class="caption">
            <a href = "{{project.videoURL}}" rel="prettyPhoto">
            <img src="{% cropped_thumbnail project "projectCrop" scale=1.0 %}" class="pic" style="margin: 10px; margin-right: 20px; float: left; width: 33%;">
            <span class="hover-effect link"></span>
            </a>
          </div>
          {% else %}
          <img src="{% cropped_thumbnail project "projectCrop" scale=1.0 %}" class="pic" style="margin: 10px; margin-right: 20px; float: left; width: 33%;">
          {% endif %}

          {% if project.website != '' %}
          <h4><a href="{{project.website}}">{{project.name}}</a></h4>
          {% else %}
          <h4>{{project.name}}</h4>
          {% endif %}
          <p>{{project.about|safe}}</p>
          {% if project.website != '' %}
          <p style = "position: absolute; bottom: 0px; right: 20px;"><a href ="{{project.website}}">Read More...</a></p>
          {% endif %}
        </div>
      </div>
      {% endfor %}  
    </div>
  </div>
       
     
</div>
{% endblock %}